@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<!-- OVERSTAG (C) @DateTime.Now.Year MaurICT (github.com/maurictg/Overstag) -->
<html lang="nl-nl">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/Overstag.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Overstag.css" />
    <script>
        Overstag = {
            //IMPORTANT VARIABLES
            token: '@Context.Session.GetString("Token")',
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Html.Raw(Context.Session.GetString("Token")!=null)' == 'True'),
            url: window.location.href.replace(window.location.origin, ''),
            init: function () {
                if (!Overstag.loggedin) {
                    window.location.href = "/Home";
                }
            },
        }
    </script>
</head>

<body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Overstag Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="_home"><a class="nav-link" href="/Home">Home</a>
                <li>
                <li class="nav-item" id="_ahome"><a class="nav-link" href="/Admin/Index">Admin Home</a></li>
                <li class="nav-item" id="_users"><a class="nav-link" href="/Admin/Users">Gebruikers</a></li>
                <li class="nav-item" id="_events"><a class="nav-link" href="/Admin/Events">Activiteiten</a></li>
                <li class="nav-item" id="_ideas"><a class="nav-link" href="/Admin/Ideas">Ideeën</a></li>
                <li class="nav-item" id="_billing"><a class="nav-link" href="/Admin/Billing">Factureringen</a></li>
                <li class="nav-item" id="_paying"><a class="nav-link" href="/Admin/Paying">Betalingen</a></li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item" id="_logoff"><a class="nav-link" href="#" onclick="OverstagJS.General.logout(true);">Uitloggen</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/BootstrapGrowl.js"></script>


    <script>
        $(document).ready(function () {

        });

        Overstag.init();
    </script>

</body>
</html>

<!-- COLOR SCHEME:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
