@{
    var userAgent = Context.Request.Headers["User-Agent"].ToString();
    bool iexplorer = (userAgent.Contains("MSIE") || userAgent.Contains("Trident"));
}
<!DOCTYPE html>
<!-- OVERSTAG (C) @DateTime.Now.Year MaurICT (github.com/maurictg/Overstag) -->
<html lang="nl-nl">
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="google-site-verification" content="sYX4bBfxEv4Mg3974SRhXeQ6-JRTfaUTOyKNw_tqT5A" />

    @if (Overstag.Core.General.isDebug && !iexplorer)
    {
        <link rel="stylesheet/less" type="text/css" href="~/less/overstag.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/css/overstag.min.css" />
    }

    <link rel="stylesheet" type="text/css" href="~/css/overstag-materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="~/icons/material-icons.css" />
    @RenderSection("Stylesheets", required: false)

    @if (ViewBag.NoJQ != null)
    {
        <script src="~/js/hquery.min.js"></script>
        if (ViewBag.Vue != null)
        {
            if (Overstag.Core.General.isDebug)
            {
                <script src="~/js/vue.js"></script>
            }
            else
            {
                <script src="~/js/vue.min.js"></script>
            }
        }
    }
    else
    {
        <script type="text/javascript" src="~/js/jquery-3.5.1.min.js"></script>
    }

    <script>const noJQ = @Html.Raw((ViewBag.NoJQ != null) ? "true" : "false");</script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>

    @if (Overstag.Core.General.isDebug)
    {
        <script type="text/javascript" src="~/js/overstag.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/js/overstag.min.js"></script>
    }

    @RenderSection("Scripts", required: false)

    @if (Overstag.Core.General.isDebug && !iexplorer)
    {
        <script src="~/js/less.min.js"></script>
        <script>
            less.pageLoadFinished.then(() => M.AutoInit());
        </script>
    }
    else 
    {
        <script>
            (() => { M.AutoInit(); });
        </script>
    }
    

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="canonical" href="@ViewBag.Canonical" />

    @RenderSection("Styles", required: false)
</head>
<body>

    @* Use ?no-nav=true to hide the nav bar *@
    @if (Context.Request.Query["no-nav"] != "true")
    {
        @RenderSection("Navigation", required: false)
    }
    else
    {
        IgnoreSection("Navigation");
    }

    @if (iexplorer)
    {
        <br />
        <div class="material-alert error">
            Internet explorer wordt niet ondersteund. Gebruik Firefox, Chrome of Edge
            <button type="button" class="close-alert" onclick="$(this).parent().fadeOut();">×</button>
        </div>
    }

    @RenderBody()

    <div id="_data"></div>
</body>
</html>