@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<!-- OVERSTAG (C) @DateTime.Now.Year MaurICT (github.com/maurictg/Overstag) -->
<html lang="nl-nl">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="google-site-verification" content="sYX4bBfxEv4Mg3974SRhXeQ6-JRTfaUTOyKNw_tqT5A" />
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/Overstag.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/Overstag.css" />
    <script>
        Overstag = {
            init: function(){
                //Check if user is logged in
                if (Overstag.loggedin) {
                    $('#_reg a').attr('href', '#');
                    $('#_reg a').text('Uitloggen');
                    $('#_mreg a').attr('href', '#');
                    $('#_mreg a').text('Uitloggen');
                    $('#_reg a').attr('onclick', 'OverstagJS.General.logout();');
                    $('#_mreg a').attr('onclick', 'OverstagJS.General.logout();');

                    $('.hidden').show();

                    if (Overstag.type != 1) {
                        $('#_events a').attr('href', '/User/Events');
                        $('#_mevents a').attr('href', '/User/Events');
                        $('#_events a').text('Mijn agenda');
                        $('#_mevents a').text('Mijn agenda');
                    }
                }

                OverstagJS.General.detectIE();
            },

            //IMPORTANT VARIABLES
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Html.Raw(Context.Session.GetString("Token")!=null)' == 'True'),
            type: @Html.Raw(Context.Session.GetInt32("Type") != null ? Context.Session.GetInt32("Type") : -1),
            url: window.location.href.replace(window.location.origin,''),
        }
    </script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-light">
            <a href="#" id="_title" class="brand-logo">&nbsp;&nbsp;Overstag</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="_home"><a href="/Home">Home</a></li>
                <li id="_about"><a href="/Home/About">Over ons</a></li>
                <li id="_contact"><a href="/Home/Contact">Contact</a></li>
                <li id="_events"><a href="/Home/Events">Agenda</a></li>
                <li id="_ainfo"><a href="/User" style="display: none;" class="hidden">Mijn account</a></li>
                <li id="_reg"><a href="/Register">Aanmelden</a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li id="_mhome"><a href="/Home">Home</a></li>
        <li id="_mabout"><a href="/Home/About">Over ons</a></li>
        <li id="_mcontact"><a href="/Home/Contact">Contact</a></li>
        <li id="_mevents"><a href="/Home/Events">Agenda</a></li>
        <li id="_mainfo"><a href="/User" style="display: none;" class="hidden">Mijn account</a></li>
        <li id="_mreg"><a href="/Register">Aanmelden</a></li>
    </ul>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.slider').slider();
            $('.modal').modal();
            $('.materialboxed').materialbox();
        });

        Overstag.init();
    </script>

    <div id="_data"></div>

</body>
</html>

<!-- COLOR SCHEME:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
<!--
    Website info: (according to backend controller)
    URL:@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)
    Full URL: @string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)
-->
