@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<!-- OVERSTAG (C) @DateTime.Now.Year MaurICT (github.com/maurictg/Overstag) -->
<html lang="nl-nl">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/overstag.min.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/chart.min.js"></script>
    @RenderSection("Scripts", required: false)

    <link rel="stylesheet" type="text/css" href="~/css/overstag-materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.min.css" />
    <link rel="stylesheet" type="text/css" href="~/icons/material-icons.css" />
    @RenderSection("Stylesheets", required: false)

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/overstag.min.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <nav>
        <div class="nav-wrapper o-orange lighten">
            <a href="#" id="_title" class="brand-logo">&nbsp;Stichtingsbestuur</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/Home">Home</a></li>
                <li id="_home"><a href="/Mentor">Bestuur home</a></li>
                <li id="_pres"><a href="/Mentor/Today">Vandaag</a></li>
                <li id="_users"><a href="/Mentor/Users">Gebruikers</a></li>
                <li id="_events"><a href="/Mentor/Events">Activiteiten</a></li>
                <li id="_ideas"><a href="/Mentor/Votes">Votes</a></li>
                <li id="_stats"><a href="/Mentor/Stats">Statistieken</a></li>
                <li id="_finance"><a href="/Accountancy/Index/500">Financiën</a></li>
                <li><a href="/User">Mijn account</a></li>
                <li id="_mreg"><a href="#" onclick="Overstag.General.logout();"><b>Uitloggen</b></a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/Home">Home</a></li>
        <li id="_mhome"><a href="/Mentor">Bestuur home</a></li>
        <li id="_mpres"><a href="/Mentor/Today">Vandaag</a></li>
        <li id="_musers"><a href="/Mentor/Users">Gebruikers</a></li>
        <li id="_mevents"><a href="/Mentor/Events">Activiteiten</a></li>
        <li id="_mideas"><a href="/Mentor/Votes">Votes</a></li>
        <li id="_mstats"><a href="/Mentor/Stats">Statistieken</a></li>
        <li id="_mfinance"><a href="/Accountancy/Index/500">Financiën</a></li>
        <li><a href="/User">Mijn account</a></li>
        <li id="_mreg"><a href="#" onclick="Overstag.General.logout();"><b>Uitloggen</b></a></li>
    </ul>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            $('.modal').modal();
        });
    </script>

    <div id="_data"></div>
</body>
</html>

<!-- COLOR SCHEME LOGO:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
