@{
    Layout = "_Layout";
}

@section Styles {
    <style>
        .bigbtn {
            margin-top: 1em;
        }
    </style>
    @RenderSection("Styles", false)
}

@section Navigation {
    <nav>
        <div class="nav-wrapper green">
            <a href="#" class="brand-logo center">Overstag Pay</a>
            <a href="#" data-target="_mnav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li class="navitem"><a href="/Home">Home</a></li>
                <li class="navitem" id="_invoice"><a href="@Html.Raw((ViewBag.InvoiceURL!=null) ? "/Pay/Invoice/"+Uri.EscapeDataString(ViewBag.InvoiceURL) : "#")">Factuur</a></li>
            </ul>
            <ul class="sidenav" id="_mnav">
                <li class="navitem"><a href="/Home">Home</a></li>
                <li class="navitem" id="_minvoice"><a href="@Html.Raw((ViewBag.InvoiceURL!=null) ? "/Pay/Invoice/"+Uri.EscapeDataString(ViewBag.InvoiceURL) : "#")">Factuur</a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
    </nav>
}

@RenderBody()

@section Scripts {
    <script>
        Overstag.init();
    </script>
    @RenderSection("Scripts", false)
}

@section Stylesheets { @RenderSection("Stylesheets", false) } 