@{
    var user = Overstag.Controllers.OverstagController.GetCurrentUser(Context);
    var loggedin = user != null;
    Layout = "_Layout";
}

@section Navigation {
    <nav>
        <div class="nav-wrapper o-blue darken">
            <a href="#" id="_title" class="brand-logo">&nbsp;&nbsp;Overstag</a>
            <a href="#" data-target="_mnav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="_home"><a href="/Home">Home</a></li>
                <li id="_ainfo"><a href="/User">Mijn account</a></li>
                <li id="_family" style="display: none;"><a href="/Parent">Mijn gezin</a></li>
                <li id="_asetting"><a href="/User/Settings">Instellingen</a></li>
                <li id="_aevent"><a href="/User/Events">Activiteiten</a></li>
                <li id="_apay"><a href="/User/Payment">Betalingen</a></li>
                <li id="_reg"><a href="#" onclick="Overstag.General.logout();"><b>Uitloggen</b></a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none"><div class="indeterminate"></div></div>
        </div>
    </nav>
    <ul class="sidenav" id="_mnav">
        <li id="_mhome"><a href="/Home">Home</a></li>
        <li id="_mainfo"><a href="/User">Mijn account</a></li>
        <li id="_mfamily" style="display: none;"><a href="/Parent/Family">Mijn gezin</a></li>
        <li id="_masetting"><a href="/User/Settings">Instellingen</a></li>
        <li id="_maevent"><a href="/User/Events">Activiteiten</a></li>
        <li id="_mapay"><a href="/User/Payment">Betalingen</a></li>
        <li id="_mreg"><a href="#" onclick="Overstag.General.logout();"><b>Uitloggen</b></a></li>
    </ul>
}

@section Scripts {
    <script>
        let usertype = @Html.Raw(loggedin ? user.Type : -1);

        $(function () {
            if (usertype == 1) {
                $('#_mfamily').show();
                $('#_family').show();
                $('#_aevent').hide();
                $('#_maevent').hide();
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
}

@RenderBody()

@section Stylesheets { @RenderSection("Stylesheets", required: false) }
@section Styles { @RenderSection("Styles", required: false) }