@model Overstag.Models.Event[]
@{
    ViewBag.Title = "Activiteiten";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<table class="responsive-table">
    <thead>
        <tr>
            <th>Wat</th>
            <th>Wanneer</th>
            <th>Omschrijving</th>
            <th>Kosten</th>
            <th>Meedoen?</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Length > 0)
        {
            @foreach (var e in Model)
            {
                bool iss = Overstag.Core.General.DateIsPassed(e.When);
                double c = (double)e.Cost;
                <tr>
                    <td>@e.Title</td>
                    <td>@Html.Raw((iss) ? "(<b class=\"red-text\">te laat</b>) " : "")@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                    <td>@e.Description</td>
                    <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                    <td><a class="btn @Html.Raw((iss)?"red":"green") waves-effect" onclick="Events.subscribe(@e.Id);">@Html.Raw((iss) ? "Alsnog " : "")Inschrijven</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5"><h5>Nog geen activiteiten</h5></td>
            </tr>
        }
    </tbody>
</table>
<script>
    var Events = {
        init: function () {
            $('#_events, #_mevents').addClass('active');
        },
        subscribe: async function (id) {
            if (!Overstag.loggedin) {
                localStorage.setItem("redirect", "/Home/Events");
                $(location).attr('href', '/Register');
            } else {
                //Inschrijven
                $.post("/User/postSubscribeEvent", { EventId: id }, function (response) {
                    if (response.status == 'success') {
                        M.toast({ html: 'Inschrijving gelukt! Leuk dat je komt!', classes: 'green' });
                        User.loadcontent();
                    }
                    else {
                        //status = error
                        M.toast({ html: response.error, classes: 'red' });
                    }
                }, 'json');
            }
        }
    }

    Events.init();
</script>