@model Overstag.Accountancy.Transaction
@{
    Layout = "_AccountancyLayout";
}

<br/>
&nbsp;<button class="btn red darken-4 waves-effect" onclick="window.history.back();">&larr;Terug</button>
<br/>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Datum</th>
                <th>Ingediend op</th>
                <th>Bedrag</th>
                <th>Omschrijving</th>
                <th>Type</th>
                <th>Uitbetaald</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.User.Firstname&nbsp;@Model.User.Lastname</td>
                <td>@Model.When.ToString("dd-MM-yyyy")</td>
                <td>@Model.Timestamp.ToString("dd-MM-yyyy") om @Model.Timestamp.ToString("HH:mm")</td>
                <td>&euro;@Math.Round((double)Model.Amount / 100, 2).ToString("F")</td>
                <td>@Model.Description</td>
                <td id="type-@Model.Id"></td>
                <td>@Html.Raw(Overstag.Services.Html.YesNo(Model.Paid))</td>
            </tr>
            <tr>
                <td colspan="7" class="center-align photodata" data-id="@Model.Id" data-json="@Model.Metadata">Laden...</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var Declarations = {
        loadImages: function () {
            $.each($('.photodata'), function (i, e) {
                var html = '<div class="row">';
                var json = $(e).data('json')
                var id = $(e).data('id');
                if (json.files != '') {
                    var files = json.files.split(',');
                    $.each(files, function (i, e) {
                        html += `<img src="/Files/Serve/${encodeURIComponent(e)}" class="materialboxed col s3 m2"/>`
                    });
                } else {
                    html += '<i>Geen foto\'s geupload</i>'
                }
                $(e).html(html + '</row>');
                $('#type-' + id).html(json.type);
            });
            $('.materialboxed').materialbox();
        },
    };

    $(function () {
        Declarations.loadImages();
    });
</script>