@model List<Overstag.Models.NoDB.MPayment>
@{ 
    ViewBag.Title = "Betalingen";
    Layout = "_AccountancyLayout";
    string[] Status = { "Open", "Geannuleerd", "In afwachting", "Geauthoriseerd", "Verlopen", "Mislukt", "Betaald" };
    string[] StatusColors = { "blue", "orange", "yellow darken-1", "green", "orange", "red", "green" };
}

<h2 class="center-align blue-middle-text">Betalingen</h2>

<button class="btn transparent waves-effect right" onclick="Payment.syncPayments();">
    <i class="material-icons blue-light-text">refresh</i>
</button>
<div>
    @if (Model.Count() > 0)
    {
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Factuur gemaakt op</th>
                    <th>Betaling geplaatst op</th>
                    <th>Betaald</th>
                    <th># (IDeal ID)</th>
                    <th>IDEAL status</th>
                    <th>Betaald op</th>
                    <th>Kosten</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                <tr>
                    <td><b>@i.User.Firstname</b></td>
                    <td><b>@i.User.Lastname</b></td>
                    <td>@i.Invoice.Timestamp.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>@i.Payment.PlacedAt.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>@Html.Raw((i.Invoice.Payed == 0) ? "<b class=\"red-text\">Nee</b>" : "<b class=\"green-text\">Ja</b>")</td>
                    <td>@Html.Raw((i.Payment.PaymentID != null) ? i.Payment.PaymentID : "<b>?</b>")</td>
                    <td>@Html.Raw((i.Payment.Status != null) ? $"<b class=\"{StatusColors[Convert.ToInt32(i.Payment.Status)]}-text\">{Status[Convert.ToInt32(i.Payment.Status)]}</b>" : "<b>?</b>")</td>
                    <td>@Convert.ToDateTime(i.Payment.PayedAt).ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>&euro;@Math.Round((double)i.Invoice.Amount / 100, 2).ToString("F")</td>
                    <th>
                        @if (i.Payment.Status == null || (int)i.Payment.Status == 0)
                        {
                            <a class="btn orange setpayed waves-effect" data-iid="@i.Invoice.Id" data-pid="@i.Payment.Id" href="#">Markeren als betaald</a>
                        }

                        @if (i.Payment.Status == null || (int)i.Payment.Status == 0 || (int)i.Payment.Status == 6)
                        {
                            <a class="btn blue waves-effect" target="_blank" href="/Pay/Direct/@Uri.EscapeDataString(i.Invoice.PayID)">Factuur openen</a>
                        }

                        @if (i.Payment.Status == null || ((int)i.Payment.Status < 6 && (int)i.Payment.Status != 0))
                        {
                            <a class="btn red removepayed waves-effect" data-pid="@i.Payment.Id" href="#">Verwijderen</a>
                        }
                    </th>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <hr /><h3 class="center-align">Geen betalingen gevonden</h3><hr />
    }
</div>

<div id="areusure" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je deze betaling wilt markeren als betaald?</h4>
        <p>Hiermee wordt als ware een valse ideal betaling aangemaakt.<br /><b> Dit kan in principe niet meer ongedaan worden gemaakt.</b></p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn green waves-effect">Annuleren</button>
        <button onclick="Payment.setPayed();" class="btn modal-close red waves-effect">Markeren als betaald</button>
    </div>
</div>

<div id="suredelete" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je deze betaling wilt verwijderen?</h4>
        <b> Dit kan niet meer ongedaan worden gemaakt!</b></p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn green waves-effect">Annuleren</button>
        <button onclick="Payment.delete();" class="btn modal-close red waves-effect">Verwijderen</button>
    </div>
</div>

<script>
    var iid = 0;
    var pid = 0;

    var Payment = {
        init: function () {
            $('#_pay, #_mpay').addClass('active');
            Payment.mapEvents();
        },
        mapEvents: function () {
            $('.setpayed').off().on('click', function () {
                iid = $(this).data('iid');
                pid = $(this).data('pid');
                M.Modal.getInstance($('#areusure')).open();
            });
            $('.removepayed').off().on('click', function () {
                pid = $(this).data('pid');
                M.Modal.getInstance($('#suredelete')).open();
            });
        },
        setPayed: function () {
            $('#_progbar').show();
            $.post('/Accountancy/markAsPayed', { payed: 1, payid: pid, invoiceid: iid }, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Wijzigingen opgeslagen', classes: 'green' });
                    Core.doReload(500);
                } else {
                    M.toast({ html: r.error, classes: 'red' });
                    $('#_progbar').hide();
                }
            });
        },
        delete: function() {
            $('#_progbar').show();
            $.post('/Accountancy/removePayment', { payid: pid }, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Betaling verwijderd', classes: 'green' });
                    Core.doReload(500);
                } else {
                    M.toast({ html: r.error, classes: 'red' });
                    $('#_progbar').hide();
                }
            });
        },
        syncPayments: function() {
            $('#_progbar').show();
            $.getJSON('/Accountancy/UpdatePayments', function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Betalingen bijgewerkt.', classes: 'blue' });
                    Core.doReload(500);
                } else {
                    M.toast({ html: r.error, classes: 'red' });
                    $('#_progbar').hide();
                }
            });
        }
    };

    $(function () {
        Payment.init();
    });
</script>
