@model Overstag.Models.NoDB.OPayInfo
@{
    Layout = "_PayLayout";
    ViewBag.Title = "Welkom";
    ViewBag.InvoiceURL = Model.Invoice.PayID;
}

<div id="content">
    <div class="row">
        <div class="col s12 m2">
            <br />
            <img src="~/img/logo_2.png" class="responsive-img" />
        </div>
        <div class="col s12 m10 center-align">
            <h3>Factuur van @Model.User.Firstname @Model.User.Lastname</h3>
        </div>
    </div>
    <div class="row">
        <br />
        <ul class="collapsible expandable" id="info">
            <li>
                <div class="collapsible-header"><i class="material-icons">account_circle</i><b>Gebruikersinformatie</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Achternaam</th>
                                <th>Email</th>
                                <th>Adres</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.User.Firstname</td>
                                <td>@Model.User.Lastname</td>
                                <td><i>@Model.User.Email</i></td>
                                <td>@Model.User.Adress&nbsp;@Model.User.Postalcode&nbsp;@Model.User.Residence</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">calendar_today</i><b>Evenementen</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Omschrijving</th>
                                <th>Datum en tijd</th>
                                <th>Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int total = 0;}
                            @foreach (var e in Model.Invoice.Events)
                            {
                                <tr>
                                    <td>@e.Title</td>
                                    <td>@string.Concat(e.Description.Take(30))...</td>
                                    <td>@e.When.ToString("dd-MM-yyyy") om @e.When.ToString("HH:mm:ss")</td>
                                    <td>&euro;@Math.Round((double)e.Cost / 100, 2).ToString("F")</td>
                                </tr>
                                total += e.Cost;
                            }
                            <tr>
                                <td colspan="4" class="grey darken-1 white-text">
                                    Totaal: <b>&euro;@Math.Round((double)total / 100, 2).ToString("F")</b> (exclusief drankjes)<br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h6><b>@Model.Invoice.Additions</b> drankje(s) gekocht met een totale waarde van <b>&euro;@Model.Invoice.Additions,00</b></h6>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">description</i><b>Factuurdetails</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Tijd</th>
                                <th>Factuurkenmerk</th>
                                <th>Totaalbedrag</th>
                                <th>Betaald</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Invoice.Timestamp.ToString("dd-MM-yyyy")</td>
                                <td>@Model.Invoice.Timestamp.ToString("HH:mm:ss")</td>
                                <td><i>@Model.Invoice.PayID</i></td>
                                <td><b>&euro;@Math.Round((double)Model.Invoice.Amount / 100, 2).ToString("F")</b></td>
                                <td><b class="@Html.Raw((Model.Invoice.Payed) ? "green-text" : "red-text")">@Html.Raw((Model.Invoice.Payed) ? "Ja" : "Nee")</b></td>
                            </tr>
                        </tbody>
                    </table>

                    @if (ViewBag.Payment != null)
                    {
                        Overstag.Models.Payment p = ViewBag.Payment;
                        DateTime dt = p.PayedAt ?? new DateTime(2000, 1, 1);
                        bool validated = (Model.Invoice.Payed == (p.PayedAt != null && !string.IsNullOrEmpty(p.PaymentID) && p.InvoiceID == Model.Invoice.PayID && Convert.ToInt32(p.Status) == 6));
                        <br />
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Betalingskenmerk</th>
                                    <th>Geplaatst op</th>
                                    <th>Betaald op</th>
                                    <th>Betaling gevalideerd</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>@p.PaymentID</b></td>
                                    <td>@p.PlacedAt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                    <td>@dt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                    <td><b class="@Html.Raw((validated) ? "green-text" : "red-text")">@Html.Raw((validated) ? "Ja" : "Nee")</b></td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.Raw((!validated) ? "<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>" : "");
                    }
                    else
                    {
                        if (Model.Invoice.Payed)
                        {
                            @Html.Raw("<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>")
                        }
                    }
                    <br />
                    <h6 id="printed_at" style="display: none;">Factuur geprint op: <b>@DateTime.Now.ToString("dd-MM-yyyy")&nbsp;om&nbsp;@DateTime.Now.ToString("HH:mm:ss")</b></h6>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <button class="btn btn-large green waves-effect" id="btnprint" onclick="Invoice.startPrint();">Printen</button>
            @if (!Model.Invoice.Payed)
            {
                <button class="btn btn-large blue waves-effect" id="btnnext" onclick="Invoice.checkout();">Betalen &rarr;</button>
            }
        </div>
    </div>
</div>

<form id="frmCheckout" style="display: none;" method="post" action="/Pay/Checkout">
    <input name="invoiceid" value="@Uri.EscapeDataString(Model.Invoice.PayID)" />
</form>

<script>
    var invoiceid = '@Uri.EscapeDataString(Model.Invoice.PayID)';
    var cancelPayment = true;

    var Invoice = {
        init: function () {
            $('#_invoice, #_minvoice').addClass('active');
            M.Collapsible.getInstance($('#info')).open(2);
        },
        startPrint: function () {
            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, { accordion: false });
            instance.open(0); instance.open(1); instance.open(2);
            $('nav, #btnprint, #btnnext').hide();
            M.toast({ html: "Printen...", classes: "blue rounded", displayLength: 500, completeCallback: function() { Invoice.doPrint() } });
        },
        doPrint: function () {
            window.print();
            $('nav, #btnprint, #btnnext').show();
            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, { accordion: true });
            instance.close(0); instance.close(1); instance.close(2);
            $('#printedat').hide();
        },
        checkout: function () {
            $('#_progbar').show();
            $('#frmCheckout').submit();
            setTimeout(Invoice.hidePB, 10000);
        },
        hidePB: function () {
            $('#_progbar').hide();
        }
    };

    $(function () {
        $('.collapsible').collapsible();
        Invoice.init();
    });
</script>