@model Overstag.Models.NoDB.OPayInfo
@{
    Layout = null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Overstag Pay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/Overstag.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo center">Overstag Pay</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/Home">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="center-align" id="pagecontent">
        <div class="row">
            <div class="col s6 m2">
                <br />
                <img src="~/img/logo_2.png" class="responsive-img" />
            </div>
            <div class="col s6 m10">
                <h3>Factuur van @Model.User.Firstname @Model.User.Lastname</h3>
            </div>
        </div>
        <div class="row">
            <br />
            <ul class="collapsible expandable" id="info">
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_circle</i><b>Gebruikersinformatie</b></div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Naam</th>
                                    <th>Achternaam</th>
                                    <th>Email</th>
                                    <th>Adres</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.User.Username</td>
                                    <td>@Model.User.Lastname</td>
                                    <td><i>@Model.User.Email</i></td>
                                    <td>@Model.User.Adress&nbsp;@Model.User.Postalcode&nbsp;@Model.User.Residence</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">calendar_today</i><b>Evenementen</b></div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Omschrijving</th>
                                    <th>Datum en tijd</th>
                                    <th>Kosten</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int total = 0;}
                                @foreach (var e in Model.Invoice.Events)
                                {
                                    <tr>
                                        <td>@e.Title</td>
                                        <td>@string.Concat(e.Description.Take(30))...</td>
                                        <td>@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                                        <td>&euro;@Math.Round((double)e.Cost / 100, 2).ToString("F")</td>
                                    </tr>
                                    total += e.Cost;
                                }
                                <tr>
                                    <td colspan="4" class="grey darken-1 white-text">
                                        Totaal: <b>&euro;@Math.Round((double)total / 100, 2).ToString("F")</b> (exclusief drankjes)<br />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h6><b>@Model.Invoice.Additions</b> drankje(s) gekocht met een totale waarde van <b>&euro;@Model.Invoice.Additions,00</b></h6>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">description</i><b>Factuurdetails</b></div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Tijd</th>
                                    <th>Factuurkenmerk</th>
                                    <th>Totaalbedrag</th>
                                    <th>Betaald</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Invoice.Timestamp.ToString("D", culture)</td>
                                    <td>@Model.Invoice.Timestamp.ToString("t", culture)</td>
                                    <td><i>@Model.Invoice.PayID</i></td>
                                    <td><b>&euro;@Math.Round((double)Model.Invoice.Amount / 100, 2).ToString("F")</b></td>
                                    <td><b class="@Html.Raw((Model.Invoice.Payed) ? "green-text" : "red-text")">@Html.Raw((Model.Invoice.Payed) ? "Ja" : "Nee")</b></td>
                                </tr>
                            </tbody>
                        </table>

                        @if (ViewBag.Payment != null)
                        {
                            Overstag.Models.Payment p = ViewBag.Payment;
                            DateTime dt = p.PayedAt ?? new DateTime(0, 0, 0);
                            bool validated = (Model.Invoice.Payed == (p.PayedAt != null && !string.IsNullOrEmpty(p.PaymentID) && p.InvoiceID == Model.Invoice.PayID));
                            <br />
                            <table>
                                <thead>
                                    <tr>
                                        <th>Betalingskenmerk</th>
                                        <th>Geplaatst op</th>
                                        <th>Betaald op</th>
                                        <th>Betaling gevalideerd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>@p.PaymentID</b></td>
                                        <td>@p.PlacedAt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                        <td>@dt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                        <td><b class="@Html.Raw((validated) ? "green-text" : "red-text")">@Html.Raw((validated) ? "Ja" : "Nee")</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            @Html.Raw((!validated) ? "<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>" : "");
                        }
                        else
                        {
                            if (Model.Invoice.Payed) { 
                                Html.Raw("<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>");
                            }
                        }
                        <br />
                        <h6 id="printedat">Factuur geprint op: <b>@DateTime.Now.ToString("d", culture)&nbsp;om&nbsp;@DateTime.Now.ToString("t", culture)</b></h6>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <a class="btn waves-effect green" id="btnprint" onclick="Pay.startPrint();">Factuur printen</a>
            @if (!Model.Invoice.Payed)
            {
                <button class="btn waves-effect blue modal-trigger" id="btnnext" data-target="modalpay">Betaling plaatsen</button>
            }
            <br /><br />
        </div>
    </div>

    <div class="center-align" id="paycontent" style="display: none;">
        <div class="row">
            <div class="col s12">
                <h3>Betaling afrekenen</h3>
                <a class="btn waves-effect blue" id="btncheckout">Betalen</a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col s12">
                <img class="responsive-img" src="~/img/ideal.gif" />
            </div>
        </div>
    </div>

    <div id="modalpay" class="modal">
        <div class="modal-content">
            <h4>Betaling plaatsen</h4>
            <h5>Weet u zeker dat u verder wilt gaan?</h5>
            <div class="progress" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="modal-footer center-align">
            <button class="btn blue modal-close waves-effect">Annuleren</button>
            <button class="btn green waves-effect" onclick="Pay.createPayment()">Doorgaan</button>
        </div>
    </div>

    <script>
        let invoiceid = '@Uri.EscapeDataString(Model.Invoice.PayID)';
        let url = '@Uri.UnescapeDataString((ViewBag.PayURL==null)?"":ViewBag.PayURL)';

            var Pay = {
            init: function () {
                M.Collapsible.getInstance($('#info')).open(2);
                $('#printedat').hide();

                if (invoiceid == undefined || invoiceid == '')
                    M.toast({ html: "FOUT: factuur kon niet worden gevonden", classes: "orange" });

                if (url != '') {
                    $('#pagecontent').hide();
                    $('#btncheckout').attr('href', url);
                    $('#paycontent').show();
                }
            },
            startPrint: function () {
                var elem = document.querySelector('.collapsible.expandable');
                var instance = M.Collapsible.init(elem, { accordion: false });
                instance.open(0); instance.open(1); instance.open(2);
                $('nav, #pay, #btnprint, #btnnext').hide();
                M.toast({ html: "Printen...", classes: "blue rounded", displayLength: 1000, completeCallback: function () { Pay.doPrint() } });
            },
            doPrint: function () {
                window.print();
                $('nav, #btnprint, #pay, #btnnext').show();
                var elem = document.querySelector('.collapsible.expandable');
                var instance = M.Collapsible.init(elem, { accordion: false });
                instance.close(0); instance.close(1); instance.close(2);
                $('#printedat').hide();
            },
            createPayment: function () {
                $('.progress').show();
                $.post('/Pay/Checkout', { invoiceid: invoiceid }, function (r) {
                    if (r.status == 'success') {
                        M.toast({ html: 'Order geplaatst. Klik op het knopje afrekenen om te betalen', classes: 'green' });
                        M.Modal.getInstance($('#modalpay')).close();

                        $('#pagecontent').hide();
                        $('#btncheckout').attr('href', unescape(r.href));
                        $('#paycontent').show();

                    } else if (r.status == 'warning') {
                        M.toast({ html: r.warning, classes: 'orange' });
                    } else {
                        M.toast({ html: r.error, classes: 'red' });
                    }
                }, 'json').done(function () {
                    $('.progress').hide();
                });
            }
        }

        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('.modal').modal();
            Pay.init();
        });


    </script>
</body>
</html>