@model Overstag.Models.XInvoice
@{
    Layout = "_PayLayout";
    ViewBag.Title = "Welkom";
    ViewBag.InvoiceURL = Model.InvoiceID;
}

<div id="content">
    <div class="row">
        <div class="col s12 m2">
            <br />
            <img src="~/img/logo_2.png" class="responsive-img" />
        </div>
        <div class="col s12 m10 center-align">
            <h3>Factuur van @Model.User.Firstname @Model.User.Lastname</h3>
        </div>
    </div>

    @if(ViewBag.IsHook == true && ViewBag.Payment != null)
    {
        Overstag.Models.Payment p  = ViewBag.Payment;

        <div class="row" id="paymentRefresh">
            <div class="card center-align">
                <div class="card-content">
                    <h4>Status van betaling controleren</h4>
                    <h3 id="payStatus">@Html.Raw(Overstag.Services.Html.PayStatus(p.Status))</h3><br />
                    <button style="display: none;" onclick="window.location.reload();" id="btnRefreshPage" class="btn green waves-effect">Pagina verversen</button>
                    <button style="display: none;" onclick="Payment.cancel();" id="btnHide" class="btn blue waves-effect">Verbergen</button>

                </div>
                <div class="card-action" id="payActions">
                    <div class="row">
                        <div class="col s12 m10 offset-m1 progress row">
                            <div id="refreshbar" data-value="100" class="determinate" style="width: 100%"></div>
                        </div>
                    </div>
                    <p>Ververst automatisch over <b id="seconds">10</b> seconden</p>
                    <button class="btn waves-effect green">Verversen</button>
                    <button class="btn waves-effect orange" onclick="Payment.cancel();">Stoppen</button>
                    <button class="btn waves-effect blue" onclick="$('#info, #buttons').fadeToggle();">Toon factuur</button>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <br />
        <ul class="collapsible expandable" id="info">
            <li>
                <div class="collapsible-header"><i class="material-icons">account_circle</i><b>Gebruikersinformatie</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Achternaam</th>
                                <th>Email</th>
                                <th>Adres</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.User.Firstname</td>
                                <td>@Model.User.Lastname</td>
                                <td><i>@Model.User.Email</i></td>
                                <td>@Model.User.Adress&nbsp;@Model.User.Postalcode&nbsp;@Model.User.Residence</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">calendar_today</i><b>Evenementen</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Omschrijving</th>
                                <th>Datum en tijd</th>
                                <th>Vrienden mee?</th>
                                <th>Kosten</th>
                                <th>Totaal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int total = Model.AdditionsCost;}
                            @foreach (var e in Model.Events)
                            {
                                <tr>
                                    <td>@e.Key.Title</td>
                                    <td>@string.Concat(e.Key.Description.Take(30))@((e.Key.Description.Length>30)?"...":"")</td>
                                    <td>@e.Key.When.ToString("dd-MM-yyyy") om @e.Key.When.ToString("HH:mm")</td>
                                    <td>
                                        @if (e.Value > 0)
                                        {
                                            @Html.Raw($"Ja, <b>{e.Value}</b>, (+&euro;{Math.Round((double)(e.Key.Cost * e.Value) / 100, 2).ToString("F")})")
                                        }
                                        else
                                        {
                                            @Html.Raw("Nee")
                                        }
                                    </td>
                                    <td>&euro;@Math.Round((double)e.Key.Cost / 100, 2).ToString("F")</td>
                                    <td><b>&euro;@Math.Round((double)e.Key.Cost * (e.Value + 1) / 100, 2).ToString("F")</b></td>
                                </tr>
                                total += (e.Key.Cost * (e.Value + 1));
                            }
                            <tr>
                                <td colspan="6">
                                    @if (Model.AdditionsCost > 0)
                                    {
                                        <p>Een aantal drankjes gekocht met een totale waarde van <b>&euro;@Math.Round((double)Model.AdditionsCost / 100, 2).ToString("F")</b></p>
                                    }
                                    else
                                    {
                                        <p>Geen drankjes gekocht.</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="grey darken-1 white-text">
                                    <h6>Totaal: <b>&euro;@Math.Round((double)total / 100, 2).ToString("F")</b> @((Model.AdditionsCost>0)?"(inclusief drankjes)":"")</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">description</i><b>Factuurdetails</b></div>
                <div class="collapsible-body">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Tijd</th>
                                <th>Factuurkenmerk</th>
                                <th>Totaalbedrag</th>
                                <th>Betaald</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Timestamp.ToString("dd-MM-yyyy")</td>
                                <td>@Model.Timestamp.ToString("HH:mm:ss")</td>
                                <td><i>@Model.InvoiceID</i></td>
                                <td><b>@Html.Raw(Overstag.Services.Html.Euro(Model.Amount))</b></td>
                                <td>@Html.Raw(Overstag.Services.Html.YesNo(Model.Payed))</td>
                            </tr>
                        </tbody>
                    </table>

                    @if (ViewBag.Payment != null && Model.Payed)
                    {
                        Overstag.Models.Payment p = ViewBag.Payment;
                        DateTime dt = p.PaidAt ?? new DateTime(2000, 1, 1);
                        bool validated = (Model.Payed == p.IsPaid());
                        <br />
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Betalingskenmerk</th>
                                    <th>Geplaatst op</th>
                                    <th>Betaald op</th>
                                    <th>Betaling gevalideerd</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>@p.PaymentId</b></td>
                                    <td>@p.PlacedAt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                    <td>@dt.ToString("dd-MM-yyyy hh:mm:ss")</td>
                                    <td>@Html.Raw(Overstag.Services.Html.YesNo(validated))</td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.Raw((!validated) ? "<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>" : "");
                    }
                    else
                    {
                        if (Model.Payed)
                        {
                            @Html.Raw("<h5 class=\"red-text\">Er is iets fout gegaan met de validatie. Neem a.u.b. contact op met de beheerder</h5>")
                        }
                    }
                    <br />
                    <h6 id="printed_at" style="display: none;">Factuur geprint op: <b>@DateTime.Now.ToString("dd-MM-yyyy")&nbsp;om&nbsp;@DateTime.Now.ToString("HH:mm")</b></h6>
                </div>
            </li>
        </ul>
    </div>

    <div class="row" id="buttons">
        <div class="col s12 center-align">
            <button class="btn btn-large green waves-effect" id="btnprint" onclick="Invoice.startPrint();">Printen</button>
            @if (!Model.Payed && (ViewBag.Payment == null || !((Overstag.Models.Payment)ViewBag.Payment).IsPaid()))
            {
                <a class="btn btn-large blue btnckt waves-effect modal-trigger" id="btnnext" href="#mdPay">Betalen &rarr;</a>
            }
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="mdPay" class="modal">
    <div class="modal-content center-align">
        <h4>Kies een betaalmethode</h4>
        <h2 class="center-align"><b>&euro;&nbsp;@Math.Round((double)Model.Amount / 100, 2).ToString("F")</b></h2>
        <button class="btn btnckt btn-large orange modal-close" onclick="Invoice.checkout(1);" style="margin-top: 1em;">Bankoverschrijving</button>
        <button class="btn btnckt btn-large red modal-close" onclick="Invoice.checkout(0);" style="margin-top: 1em;">IDeal</button>
    </div>
</div>

<form id="frmCheckout" hidden method="post" action="/Pay/Checkout/@Uri.EscapeDataString(Model.InvoiceID)">
    <input name="type" id="checkout_type" value="0" />
</form>

@if(ViewBag.IsHook == true && ViewBag.Payment != null)
{
    Overstag.Models.Payment p = ViewBag.Payment;

    <script>
        let timeout;
        let count = 0;
        let status = @((int)p.Status);
        let payType = @((int)p.PayType);

        var Payment = {
            init: function () {
                Payment.start();
                $('#info').hide();
                $('#buttons').hide();

                if (status == 1 || status > 3 || payType == 1)
                    Payment.stop();
            },
            start: function () {
                timeout = setInterval(Payment.updateBar, 100);
            },
            pause: function () {
                clearInterval(timeout);
            },
            stop: function () {
                Payment.pause();
                $('#payActions').hide();
                $('#info, #btnRefreshPage, #btnHide').fadeIn();
            },
            cancel: function () {
                $('#info, #buttons').fadeIn();
                $('#paymentRefresh').fadeOut();
                Payment.pause();
            },
            updateBar: function () {
                var val = Number($('#refreshbar').data('value'));
                if (val != 0) {
                    val--;
                } else {
                    val = 100;
                    Payment.pause();
                    Payment.getStatus(Payment.start);
                }
                $('#refreshbar').data('value', val);
                $('#refreshbar').css('width', val + '%')
                $('#seconds').html(Math.round(val / 10));
            },
            getStatus: function (callback) {
                $('#_progbar').show();
                $.get(`/Pay/GetPayment/@p.Id?htmlOnly=true&force=${(count++ >= 5)}`, function (r) {
                    $('#_progbar').hide();
                    if (callback)
                        callback();

                    if (r.status == 'success') {
                        $('#payStatus').html(r.html);

                        if (r.payStatus == 1 || r.payStatus > 3) {
                            Payment.stop();
                        }

                        if (count >= 6)
                            count = 0;
                    } else {
                        Payment.pause();
                        M.toast({ html: 'Er is iets fout gegaan. Probeer het later opnieuw', classes: 'red' });
                    }
                });
            }
        };
    </script>
}

<script>
    var isHook = ('@ViewBag.IsHook'=='True');
    var invoiceid = '@Uri.EscapeDataString(Model.InvoiceID)';
    var cancelPayment = true;

    var Invoice = {
        init: function () {
            $('#_invoice, #_minvoice').addClass('active');
            if (!isHook)
                M.Collapsible.getInstance($('#info')).open(2);
            else
                Payment.init();
        },
        startPrint: function () {
            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, { accordion: false });
            instance.open(0); instance.open(1); instance.open(2);
            $('nav, #btnprint, #btnnext').hide();
            M.toast({ html: "Printen...", classes: "blue rounded", displayLength: 500, completeCallback: function() { Invoice.doPrint() } });
        },
        doPrint: function () {
            window.print();
            $('nav, #btnprint, #btnnext').show();
            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, { accordion: true });
            instance.close(0); instance.close(1); instance.close(2);
            $('#printedat').hide();
        },
        checkout: function (type) {
            $('#checkout_type').val(type);
            $('#_progbar').show();
            $('#frmCheckout').submit();
        },
        hidePB: function () {
            $('#_progbar').hide();
        }
    };


    $(function() {
        $('.collapsible').collapsible();
        Invoice.init();
    });
</script>