@using Microsoft.AspNetCore.Http
<!-- OVERSTAG (C) 2019 MaurICT (github.com/maurictg/Overstag) -->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!--script type="text/javascript" src="~/js/materialize.min.js"></script-->
    <!--link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" /-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <script src="~/js/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        Overstag = {
            //IMPORTANT VARIABLES
            token: '@Context.Session.GetString("Token")',
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Context.Session.GetString("Token")' != ''),
            url: window.location.href.replace(window.location.origin, ''),
            init: function () {
                if (!Overstag.loggedin) {
                    window.location.href = "/Home";
                }
            },
        }
    </script>
    <style>
        /*Overwrite materialize css*/
        .blue-light {
            background-color: #3096D3 !important;
        }

        .blue-middle {
            background-color: #0B86CF !important;
        }

        .blue-dark {
            background-color: #04507D !important;
        }

        .blue-light-text {
            color: #3096D3 !important;
        }

        .blue-middle-text {
            color: #0B86CF !important;
        }

        .blue-dark-text {
            color: #04507D !important;
        }
    </style>
</head>

<body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Overstag Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="_home"><a class="nav-link" href="/Home">Home</a>
                <li>
                <li class="nav-item" id="_ahome"><a class="nav-link" href="/Admin/Index">Admin Home</a></li>
                <li class="nav-item" id="_users"><a class="nav-link" href="/Admin/Users">Gebruikers</a></li>
                <li class="nav-item" id="_events"><a class="nav-link" href="/Admin/Events">Activiteiten</a></li>
                <li class="nav-item" id="_ideas"><a class="nav-link" href="/Admin/Ideas">Ideeën</a></li>
                <li class="nav-item" id="_billing"><a class="nav-link" href="/Admin/Billing">Betalingen</a></li>
                <li class="nav-item" id="_database"><a class="nav-link" href="/Admin/Database">Database</a></li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item" id="_logoff"><a class="nav-link" href="/Register/Logoff">Uitloggen</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>


    <script>
        $(document).ready(function () {

        });

        Overstag.init();
    </script>
</body>
</html>

<!-- COLOR SCHEME:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
