@using Microsoft.AspNetCore.Http
<!-- OVERSTAG (C) 2019 MaurICT (github.com/maurictg/Overstag) -->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        Overstag = {
            //IMPORTANT VARIABLES
            token: '@Context.Session.GetString("Token")',
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Context.Session.GetString("Token")' != ''),
            url: window.location.href.replace(window.location.origin, ''),
            init: function () {
                if (!Overstag.loggedin) {
                    window.location.href = "/Home";
                }
            },
        }
    </script>
    <style>
        /*Overwrite materialize css*/
        .blue-light {
            background-color: #3096D3 !important;
        }

        .blue-middle {
            background-color: #0B86CF !important;
        }

        .blue-dark {
            background-color: #04507D !important;
        }

        .blue-light-text {
            color: #3096D3 !important;
        }

        .blue-middle-text {
            color: #0B86CF !important;
        }

        .blue-dark-text {
            color: #04507D !important;
        }


    </style>
</head>
<body class="grey darken-4">
    <nav>
        <div class="nav-wrapper green">
            <a href="#" id="title" class="brand-logo">&nbsp;&nbsp;Overstag Admin</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="_home"><a href="/Home">Home</a></li>
                <li id="_ahome"><a href="/Admin/Index">Admin Home</a></li>
                <li id="_users"><a href="/Admin/Users">Gebruikers</a></li>
                <li id="_events"><a href="/Admin/Events">Activiteiten</a></li>
                <li id="_paying"><a href="/Admin/Paying">Betalen</a></li>
                <li id="_database"><a href="/Admin/Database">Database</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $('.timepicker').timepicker();
            $('.modal').modal();
        });

        Overstag.init();
    </script>
    
</body>
</html>

<!-- COLOR SCHEME:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
