@using Microsoft.AspNetCore.Http

<!-- OVERSTAG (C) 2019 MaurICT (github.com/maurictg/Overstag) -->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/Overstag.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/Overstag.css" />
    <script>
        Overstag = {
            init: function(){
                
            },

            //IMPORTANT VARIABLES
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Html.Raw(Context.Session.GetString("Token")!=null)' == 'True'),
            type: @Context.Session.GetInt32("Type"),
            url: window.location.href.replace(window.location.origin,''),
        }
    </script>
</head>
<body>
    <nav>
        <div class="nav-wrapper green darken-4">
            <a href="#" id="_title" class="brand-logo">&nbsp;Stichtingsbestuur</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/Home">Home</a></li>
                <li id="_home"><a href="/Mentor">Bestuur home</a></li>
                <li id="_pres"><a href="/Mentor/Today">Vandaag</a></li>
                <li id="_users"><a href="/Mentor/Users">Gebruikers</a></li>
                <li id="_events"><a href="/Mentor/Events">Activiteiten</a></li>
                <li id="_ideas"><a href="/Mentor/Votes">Votes</a></li>
                <li id="_stats"><a href="/Mentor/Stats">Statistieken</a></li>
                <li id="_invoices"><a href="/Mentor/Invoices">Facturering</a></li>
                <li id="_pay"><a href="/Mentor/Payments">Betalingen</a></li>
                <li><a href="/User">Mijn account</a></li>
                <li id="_mreg"><a href="#" onclick="OverstagJS.General.logout();"><b>Uitloggen</b></a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/Home">Home</a></li>
        <li id="_mhome"><a href="/Mentor">Bestuur home</a></li>
        <li id="_mpres"><a href="/Mentor/Today">Vandaag</a></li>
        <li id="_musers"><a href="/Mentor/Users">Gebruikers</a></li>
        <li id="_mevents"><a href="/Mentor/Events">Activiteiten</a></li>
        <li id="_mideas"><a href="/Mentor/Votes">Votes</a></li>
        <li id="_mstats"><a href="/Mentor/Stats">Statistieken</a></li>
        <li id="_minvoice"><a href="/Mentor/Invoices">Facturering</a></li>
        <li id="_mpay"><a href="/Mentor/Payments">Betalingen</a></li>
        <li><a href="/User">Mijn account</a></li>
        <li id="_mreg"><a href="#" onclick="OverstagJS.General.logout();"><b>Uitloggen</b></a></li>
    </ul>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            $('.modal').modal();
        });

        Overstag.init();
    </script>

    <div id="_data"></div>
</body>
</html>

<!-- COLOR SCHEME LOGO:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
