@using Microsoft.AspNetCore.Http

<!-- OVERSTAG (C) 2019 MaurICT (github.com/maurictg/Overstag) -->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/Overstag.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/Overstag.css" />
    <script>
        Overstag = {
            init: function(){
                if (Overstag.type == 1) {
                    $('#_mfamily').show();
                    $('#_family').show();
                    $('#_aevent').hide();
                    $('#_maevent').hide();
                }
            },

            //IMPORTANT VARIABLES
            firstname: '@Context.Session.GetString("Name")',
            loggedin: ('@Html.Raw(Context.Session.GetString("Token")!=null)' == 'True'),
            type: @Context.Session.GetInt32("Type"),
            url: window.location.href.replace(window.location.origin,''),
        }
    </script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-dark">
            <a href="#" id="_title" class="brand-logo">&nbsp;&nbsp;Overstag</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="_home"><a href="/Home">Home</a></li>
                <li id="_ainfo"><a href="/User">Mijn account</a></li>
                <li id="_family" style="display: none;"><a href="/Parent">Mijn gezin</a></li>
                <li id="_asetting"><a href="/User/Settings">Instellingen</a></li>
                <li id="_aevent"><a href="/User/Events">Activiteiten</a></li>
                <li id="_apay"><a href="/User/Payment">Betalingen</a></li>
                <li id="_tickets"><a href="/Tickets">Tickets</a></li>
                <li id="_reg"><a href="#" onclick="OverstagJS.General.logout();"><b>Uitloggen</b></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li id="_mhome"><a href="/Home">Home</a></li>
        <li id="_mainfo"><a href="/User">Mijn account</a></li>
        <li id="_mfamily" style="display: none;"><a href="/Parent/Family">Mijn gezin</a></li>
        <li id="_masetting"><a href="/User/Settings">Instellingen</a></li>
        <li id="_maevent"><a href="/User/Events">Activiteiten</a></li>
        <li id="_mapay"><a href="/User/Payment">Betalingen</a></li>
        <li id="_mtickets"><a href="/Tickets">Tickets</a></li>
        <li id="_mreg"><a href="#" onclick="OverstagJS.General.logout();"><b>Uitloggen</b></a></li>
    </ul>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            $('.modal').modal();
        });

        Overstag.init();
    </script>

    <div id="_data"></div>
</body>
</html>

<!-- COLOR SCHEME LOGO:
licht:  #3096D3
middel: #0B86CF
donker: #04507D-->
