@model List<Overstag.Models.Event>
@{
    ViewBag.Title = "Activiteiten";
    Layout = "_MentorLayout";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}

<h2 class="blue-middle-text center-align">Activiteiten</h2>
<h4 class="blue-dark-text center-align">Activiteiten toevoegen/bewerken</h4>

<div class="row">
    <div class="col s12 m2 input-field">
        <input class="checki" type="text" id="title" placeholder="Titel" />
        <label for="title">Titel</label>
    </div>
    <div class="col s12 m4 input-field">
        <input class="checki" type="text" id="desc" placeholder="Omschrijving" />
        <label for="desc">Omschrijving</label>
    </div>
    <div class="col s12 m2 input-field">
        <input class="checki datepicker" type="text" id="date" placeholder="Datum">
        <label for="date">Datum</label>
    </div>
    <div class="col s12 m2 input-field">
        <input class="checki timepicker" type="text" id="time" placeholder="Tijd">
        <label for="time">Tijd</label>
    </div>
    <div class="col s12 m2 input-field">
        <input class="checki" type="text" id="cost" placeholder="Kosten in €-cent">
        <label for="cost">Kosten in cent</label>
    </div>
    <div class="col s12 center-align">
        <button id="btncancel" onclick="Event.Cancel();" class="btn orange waves-effect">Annuleren</button>
        <button id="btnadd" class="btn green waves-effect" onclick="Event.Save();">Toevoegen</button>
    </div>
</div>
<div>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Omschrijving</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Kosten</th>
                <th>Opties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                @if (!Overstag.Core.General.DateIsPassed(e.When))
                {
                    <tr>
                        <td>@e.Title</td>
                        <td>@e.Description</td>
                        <td>@e.When.ToString("d", culture)</td>
                        <td>@e.When.ToString("t", culture)</td>
                        <td>&euro;@Math.Round((double)e.Cost / 100, 2).ToString("F")</td>
                        <td>
                            <button class="btn green darken-4 waves-effect" onclick="Event.Edit('@e.Id');">Edit</button>
                            <button class="btn red waves-effect" onclick="Event.doDelete('@e.Id')">Delete</button>
                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>

<div id="areusure" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je deze activiteit wilt verwijderen?</h4>
        <p>Dit kan niet ongedaan worden gemaakt! Alle inschrijvingen worden hiermee verwijderd.</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn green waves-effect">Annuleren</button>
        <button id="btndelete" onclick="Event.Delete();" class="btn red waves-effect">Verwijderen</button>
    </div>
</div>

<script>
    var Event = {
        init: function () {
            $('#_events, #_mevents').addClass('active');
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
            $('.timepicker').timepicker({
                twelveHour: false
            });

            if (localStorage.getItem('darktheme') === 'true')
                OverstagJS.Theme.setDark();
        },
        Save: function () {
            if ($('#btnadd').data('id') != undefined) {
                Event.Post($('#btnadd').data('id'));
            } else {
                Event.Post(-1);
            }
        },
        Post: function (id) {
            var valid = true;
            $('.checki').each(function () {
                if ($.trim($(this).val()) == '') {
                    valid = false;
                }
            });

            if (!valid) {
                M.toast({ html: 'Vul a.u.b. alle velden in', classes: 'orange' });
                return;
            }

            $('#_progbar').show();
            var data = {
                Id: id,
                Title: $('#title').val(),
                Description: $('#desc').val(),
                When: $('#date').val() + ' ' + $('#time').val(),
                Cost: $('#cost').val()
            };
            $.post('/Mentor/postEvent',data, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Wijzigingen opgeslagen!', classes: 'green' });
                    Core.doReload(500);
                } else {
                    M.toast({ html: r.error, classes: 'red' });
                }
            },'json').done(function () {
                Event.Cancel();
            }); 
        },
        Edit: function (id) {
            window.scrollTo({ top: 0, behavior: 'smooth' });
            $('#_progbar').show();
            $.getJSON('/Mentor/getEvent/' + id, function (r) {
                if (r.status == 'success') {
                    moment.locale('nl');
                    var date = new Date(Date.parse(r.data.when));
                    date = moment(date);

                    $('#title').val(r.data.title);
                    $('#desc').val(r.data.description);
                    $('#date').val(date.format('DD-MM-YYYY'));
                    $('#time').val(date.format('HH:mm'));
                    $('#cost').val(r.data.cost);
                }
            }).done(function () {
                $('#_progbar').hide();
            });

            $('#btnadd').text('Opslaan');
            $('#btnadd').data('id', id);
        },
        Cancel: function() {
            $('.checki').val('');
            $('#btnadd').text('Toevoegen');
            $('#btnadd').removeData('id');
        },
        doDelete: function (id) {
            $('#btndelete').data('id', id);
            M.Modal.getInstance($('#areusure')).open();
        },
        Delete: function () {
            $('#_progbar').show();
            var id = $('#btndelete').data('id');
            $('#btndelete').removeData('id');
            $.getJSON('/Mentor/deleteEvent/' + id, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Verwijderen gelukt', classes: 'green' });
                    Core.doReload(500);
                } else {
                    M.toast({ html: r.error, classes: 'red' });
                }
            });
            M.Modal.getInstance($('#areusure')).close();
        }
    };

    $(function () {
        Event.init();
    });
</script>