@model Overstag.Models.NoDB.UserEvent
@{
    ViewBag.Title = "Deze avond";
    Layout = "~/Views/_MentorLayout.cshtml";
}

    <div>
        @if (Model.Event == null)
        {
            <div class="center-align">
                <h3 class="red-text"><b>Geen activiteit vandaag</b></h3>
                <p>Aanwezigheid melden etc. kan natuurlijk alleen als er aanwezigen zijn ;)</p>
            </div>
        }
        else
        {
            <h3 class="green-text text-darken-4">Statistieken</h3>
            <div class="flow-text">
                &nbsp;Aantal mannen:          <b class="blue-text" id="aantalm">@Model.Participators.Count(f => f.Sex == 0)</b><br />
                &nbsp;Aantal vrouwen:         <b class="red-text" id="aantalv">@Model.Participators.Count(f => f.Sex == 1)</b><br />
                &nbsp;Totaal aantal present:  <span id="aantal">@Model.Participators.Count()</span><br />
                &nbsp;Totaal aantal absent:   <span id="aantala">0</span><br />
                &nbsp;Drankjes verhandeld:    <span id="aantald">0</span>
            </div>
            <br />
            <h3 class="green-text text-darken-4">Aanwezigheid</h3>
            <p class="flow-text">
                &nbsp;Vink de mensen uit die er niet zijn en druk op &quot;Opslaan&quot;<br />
            </p>


            <ul class="collection">
                @foreach (var p in Model.Participators.OrderBy(f => f.Firstname).OrderBy(g => g.Lastname))
                {
                    <li class="collection-item">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in checki" checked="checked" data-id="@p.Id" data-sx="@p.Sex" />
                                <span style="font-size: large;"><b>@p.Firstname @p.Lastname</b> (@Html.Raw((p.Sex == 0) ? "<b class=\"blue-text\">m</b>" : "<b class=\"red-text\">v</b>"))</span>
                            </label>
                        </p>
                    </li>
                }
            </ul>
            @Html.Raw("&nbsp;")<a id="btnasave" class="btn green waves-effect waves-light modal-trigger" href="#areusure"><b>Opslaan</b></a>
            <br />
            <small>&nbsp;Staat er iemand niet tussen? Vraag hem/haar zich alsnog in te schrijven</small>
            <br />

            <h3 class="green-text text-darken-4">Drankjes toevoegen</h3>
            <p class="flow-text">&nbsp;Selecteer een gebruiker en druk op &quot;Opslaan&quot;</p>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="userselect" onchange="$('#btndrink').removeClass('disabled')">
                        @foreach (var user in Model.Participators)
                        {
                            <option value="@user.Id">@user.Firstname @user.Lastname</option>
                        }
                    </select>
                    <label>Kies een gebruiker</label>
                </div>
                <div class="col s12 m6">
                    <button class="btn green" id="btndrink"><b>Opslaan</b></button>
                </div>
            </div>
        }
    </div>

    <div id="areusure" class="modal">
        <div class="modal-content">
            <h4>Zeker weten??</h4>
            <p><b>Controleer of de gegevens juist zijn.</b> <br />Als u iemand absent meldt die er toch is, dan wordt dit niet verrekend. Als u iemand present meldt die er niet is, krijgt diegene alsnog een factuur.<br />
            Zorg er daarom voor dat de gegevens kloppen voor u op opslaan klikt.</p>
        </div>
        <div class="modal-footer">
            <button class="btn green darken-4 modal-close">Annuleren</button>
            <button id="btnsave" class="btn green modal-close">Opslaan</button>
        </div>
    </div>
<br />

<script>
    var afwezigen = [];

    var Presence = {
        init: function () {
            $('#_pres, #_apres').addClass('active');

            if (localStorage.getItem('drankjes'))
                $('#aantald').text(localStorage.getItem('drankjes'));
            else
                $('#aantald').text('0');

            $('.checki').off().on('change', function () {
                Presence.calculateAbsence();
            });

            $('#btnsave').click(Presence.saveAbsence);

            $('#btndrink').click(function () {
                if ($(this).data('confirm') == 'yes') {
                    $(this).removeClass('red').addClass('green disabled').text('Opslaan...');
                    $(this).data('confirm', '');
                    Presence.addDrink();
                } else {
                    $(this).removeClass('green').addClass('red').text('Zeker weten?');
                    $(this).data('confirm', 'yes');
                    $(this).fadeOut(4000);
                    setTimeout(Presence.resetbtn, 4000, $(this));
                }
            });
        },
        calculateAbsence: function () {
            var totaal = 0;
            var totaala = 0;
            var mannen = 0;
            var vrouwen = 0;
            afwezigen = [];

            $.each($("input:checkbox:checked"), function (i, e) {
                totaal++;
                if ($(e).data('sx') == '0')
                    mannen++;
                else
                    vrouwen++;
            });

            $.each($("input:checkbox:not(:checked)"), function (i, e) {
                totaala++;
                afwezigen.push($(e).data('id'));
            });

            $('#aantalm').text(mannen);
            $('#aantalv').text(vrouwen);
            $('#aantal').text(totaal);
            $('#aantala').text(totaala);
        },
        saveAbsence: function () {
            Presence.calculateAbsence();
            var afw = JSON.stringify(afwezigen);
            $.post('/Mentor/postPresence', { absentids: afw }, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Opgeslagen!', classes: 'green' });
                    $('#btnasave').addClass('disabled');
                    $.each($("input:checkbox"), function (i, e) {
                        $(e).attr('disabled', 'disabled');
                    });
                } else if (r.status == 'warning') {
                    M.toast({ html: r.warning, classes: 'orange' });
                } else {
                    M.toast({ html: 'Er is iets fout gegaan.', classes: 'red' });
                }
            },'json');
        },
        resetbtn: function(el) {
            $(el).removeClass('red').addClass('green').text('Opslaan');
            $(el).data('confirm', '');
            $(el).fadeIn();
        },
        addDrink: function () {
            var userid = $('#userselect').val();
            if (userid > 0) {
                $.get('/Mentor/addDrink/' + userid, function (r) {
                    if (r.status == 'success') {
                        M.toast({ html: 'Drankje toegevoegd!', classes: 'green' });

                        if (localStorage.getItem('drankjes')) {
                            var drankjes = Number(localStorage.getItem('drankjes'));
                            drankjes++;
                            localStorage.setItem('drankjes', drankjes);
                        } else {
                            localStorage.setItem('drankjes', 1);
                        }

                        $('#aantald').text(localStorage.getItem('drankjes'));
                    } else {
                        M.toast({ html: r.error, classes: 'red' });
                    }
                }, 'json');
            }
        }
    }

    $(function () {
        Presence.init();
    });

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>