@model List<Overstag.Models.NoDB.FUnpayed>
@{
    Layout = "~/Views/_UserLayout.cshtml";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
    int eventcnt = 0;
}

<h3>Overzicht van onverwerkte activiteiten per kind</h3>
<table>
    <thead>
        <tr>
            <th>Naam</th>
            <th>Facturering</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.User.Firstname</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Datum</th>
                                <th>Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (u.UnpayedEvents.Count() > 0)
                            {
                                double total = 0;
                                total += u.ConsumptionCost;
                                @foreach (var e in u.UnpayedEvents)
                                {
                                    eventcnt++;
                                    total += (double)e.Cost;
                                    <tr>
                                        <td>@e.Title</td>
                                        <td>@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                                        <td>&euro;@Math.Round((double)e.Cost / 100, 2).ToString("F")</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="center-align" colspan="3">
                                        Totaal aantal drankjes: <b>@u.ConsumptionCount</b> (&euro;1,00/st.)<br />
                                        Bedrag: <b>&euro;@Math.Round(total / 100, 2).ToString("F")</b>
                                        @if(u.FriendCount > 0)
                                        {
                                            <p class="red-text">LET OP: tijdens de avonden had @u.User.Firstname <b>@u.FriendCount</b> keer een vriend(in) mee. Dit kan vanwege technische redenen niet hier berekend worden. Op de factuur wordt dit er nog bij gerekend. Op de factuur worden deze avonden dubbel gerekend.</p>
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="center-align"><h6>Geen onverwerkte ongefactureerde avonden. Kijk onder &quot;Betalingen&quot;</h6></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (eventcnt > 0)
{
    <div class="center-align">
        <br />
        <a class="waves-effect waves-light btn blue-dark" id="btngenerate">Verwerken</a>
        <div class="progress" style="display: none;"><div class="indeterminate"></div></div>
    </div>
    <br />
}

<h3>Facturen</h3>
<h6>De facturen staan onder <b>&quot;<a href="/User/Payment">Betalingen</a>&quot;</b> in het menu.</h6>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue-dark" href="/Parent">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>


<script>
    var Billing = {
        init: function () {
            $('#_family, #_mfamily').addClass('active');
            Billing.mapEvents();
        },
        mapEvents: function () {
            $('#btngenerate').click(function () {
                $('#progress').show();
                $.get('/Parent/GenerateInvoice', function (r) {
                    if (r.status == 'success') {
                        M.toast({ html: 'Factuur successvol gemaakt!', classes: 'green' })
                        setTimeout(window.location.reload.bind(window.location), 1000);
                    } else {
                        M.toast({ html: 'Er is iets fout gegaan. Probeer het later opnieuw', classes: 'red' })
                    }
                    $('#progress').hide();
                },'json');
            });
        }
    }

    $(function () {
        Billing.init();
    });
</script>