@model List<Overstag.Models.NoDB.ISubscription>
@{
    Layout = "_UserLayout";
    ViewBag.Title = "Evenementen";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<div>
    <h3 class="center-align o-blue-text text-darken">Agenda &amp; inschrijvingen</h3>
    <h5 class="o-blue-text text-middle center-align">&nbsp;Komende evenementen, onder het voorbehoud van <a href="https://herzienestatenvertaling.nl/teksten/jakobus/4#15" target="_blank">Jakobus 4:15</a></h5>
    <div id="partial">
        <br />

        @if (Model.Count() > 0)
        {
            int cnt = 0;
            @foreach (var item in Model)
            {
                bool iss = Overstag.Core.General.DateIsPassed(item.Event.When);
                <div class="row" style="display: none;" id="event-@cnt">
                    <div class="col s12 center-align">
                        <h4><b>@item.Event.Title</b></h4>
                        <br />
                        <h5><i class="material-icons">calendar_today</i><span>&nbsp;@item.Event.When.ToString("dddd dd MMMM yyyy", culture) om @item.Event.When.ToString("HH:mm")</span></h5>
                        <h6>@item.Event.Description</h6>
                        <h5>&euro;@Math.Round((double)item.Event.Cost / 100, 2).ToString("F")</h5>
                        <br />
                    </div>
                    <div class="col s12 center-align">
                        <button class="btn btn-large @((iss)?"red":"green") waves-effect" @Html.Raw((item.Subscribed) ? "style=\"display: none;\"" : "") onclick="Events.Subscribe(@item.Event.Id);" id="sub-@item.Event.Id">@((iss) ? "Alsnog" : "") Inschrijven</button>
                        <div id="unsub-@item.Event.Id" @Html.Raw((!item.Subscribed) ? "style=\"display: none;\"" : "")>
                            <a class="btn btn-large orange waves-effect @Html.Raw((iss)?"disabled":"")" onclick="Events.DoUnsubscribe(@item.Event.Id);">Uitschrijven</a>
                            <a class="btn btn-flat transparent waves-effect btn-large btnsetting @Html.Raw((iss)?"disabled":"")" data-id="@item.Event.Id" data-fc="@item.Friends"><i class="material-icons">settings</i></a>
                        </div>
                    </div>
                </div>
                cnt++;
            }
            <div class="center-align">
                <div class="row">
                    <button class="btn btn-large waves-effect transparent black-text disabled" id="btnprev"><i class="material-icons">arrow_back</i></button>
                    <button class="btn btn-large waves-effect transparent black-text @((Model.Count()<2)?"disabled":"")" id="btnnext"><i class="material-icons">arrow_forward</i></button>
                </div>
            </div>
        }
        else
        {
            <div class="center-align"><h4 class="orange-text">Op dit moment zijn er geen activiteiten.</h4></div>
        }
    </div>
</div>


<br />
<div class="row">
    <div class="col s10 offset-s1">
        <h4 class="o-blue-text text-middle center-align">Voten</h4>
        <p class="flow-text">
            Wat zijn leuke activiteiten om te doen? Daar hebben jullie ook een stem in.<br />
            Via <a href="/User/Vote">deze link</a> of het knopje met het stemicoontje kan je zelf ook ideeën toevoegen. Breng anderen op de hoogte en vraag hen hun stem uit te brengen.
        </p>
        <br />
        <h4 class="o-blue-text text-middle center-align">Huisregels</h4>
        <p class="flow-text">Tijdens onze activiteiten gelden bepaalde huisregels. Deze kun je <a href="/Home/About#huisregels">hier</a> vinden.</p>
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large o-blue darken waves-effect" href="/User/Vote">
        <i class="large material-icons">how_to_vote</i>
    </a>
</div>

<div id="uitschrijven" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je jezelf wilt afmelden voor deze avond?</h4>
        <p>Natuurlijk kun je je altijd weer opnieuw inschrijven, voor het geval je er spijt van krijgt.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect btn green white-text">Annuleren</a>
        <a onclick="Events.Unsubscribe();" id="btnunsub" class="modal-close waves-effect btn red white-text">Uitschrijven</a>
    </div>
</div>

<div id="ssetting" class="modal">
    <div class="modal-content">
        <h4>Inschrijving bewerken</h4>
        <table>
            <tr>
                <td>
                    <h5>Vriend(inn)en meenemen</h5>
                    <p>Hier kun je instellen of je iemand mee wilt nemen naar deze activiteit. De gemaakte kosten worden dan voor jou in rekening gebracht.</p>
                </td>
                <td>
                    <h5><span id="fcount">0</span> </h5>
                </td>
                <td>
                    <h6>
                        <a onclick="Events.AddFriend(true);" class="btn btn-flat green-text transparent waves-effect"><i class="material-icons">add_circle</i></a>
                        <a onclick="Events.AddFriend(false);" class="btn btn-flat transparent red-text waves-effect"><i class="material-icons">remove_circle</i></a>
                    </h6>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="waves-effect btn green white-text" onclick="Events.SaveSetting();">Opslaan</a>
        <a class="modal-close waves-effect btn grey white-text">Sluiten</a>
    </div>
</div>


<script>
    var eventtoremove;
    var emax = @(Model.Count()-1);
    var ecurrent = 0;

    var User = {
        init: function () {
            $('#_aevent, #_maevent').addClass('active');
            $('#event-0').show();
            Events.MapEvents();
        }
    }

    var Events = {
        MapEvents: function () {
            $('.btnsetting').off().on('click', function () {
                Events.OpenSetting(this);
            });

            $('#btnnext').off().on('click', function () {
                Events.ShowNext(true);
            });

            $('#btnprev').off().on('click', function () {
                Events.ShowNext(false);
            });
        },
        DoUnsubscribe: function (id) {
            $('#btnunsub').data('id', id);
            M.Modal.getInstance($('#uitschrijven')).open();
        },
        Subscribe: function (id) {
            $('#_progbar').show();
            //Inschrijven
            $.post("/User/postSubscribeEvent", { EventId: id }, function (response) {
                if (response.status == 'success') {
                    M.toast({ html: 'Inschrijving gelukt! Leuk dat je komt!', classes: 'green' });
                    $('#sub-' + id).hide();
                    $('#unsub-' + id).show();
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                }
            }, 'json').done(function () {
                $('#_progbar').hide();
            });
        },
        Unsubscribe: function (id) {
            if (!(id > 0))
                id = $('#btnunsub').data('id');
            //Uitschrijven
            $('#_progbar').show();
            $.post("/User/postDeleteEvent", { EventId: id }, function (response) {
                if (response.status == 'success') {
                    M.toast({ html: 'Successvol uitgeschreven', classes: 'orange' });
                    $(`.btnsetting[data-id='${id}']`).data('fc', 0);
                    $('#sub-' + id).show();
                    $('#unsub-' + id).hide();
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                }
            }, 'json').done(function () {
                $('#_progbar').hide();
            });
        },
        ShowNext: function (next) {
            if (next && (ecurrent + 1 <= emax)) {
                $('#event-' + ecurrent).hide();
                $('#event-' + ++ecurrent).show();
                $('#btnprev').removeClass('disabled');
                if (ecurrent == emax) {
                    $('#btnnext').addClass('disabled');
                }
            } else {
                if (ecurrent - 1 >= 0) {
                    $('#event-' + ecurrent).hide();
                    $('#event-' + --ecurrent).show();
                    $('#btnnext').removeClass('disabled');
                    if (ecurrent == 0) {
                        $('#btnprev').addClass('disabled');
                    }
                }
            }
        },
        OpenSetting: function (sender) {
            $('#ssetting').data('sender', sender);
            M.Modal.getInstance($('#ssetting')).open();
            $('#fcount').text($(sender).data('fc'));
        },
        AddFriend: function (add) {
            var nv = parseInt($('#fcount').text()) + ((add) ? 1 : -1);
            if (nv >= 0 && nv <= 5) {
                $('#fcount').text(nv);
            }
        },
        SaveSetting: function () {
            var sender = $('#ssetting').data('sender');
            $(sender).data('fc', $('#fcount').text());
            $.post('/User/SubscribeFriends', { id: $(sender).data('id'), amount: $(sender).data('fc') }, function (r) {
                if (r.status == 'success') {
                    M.toast({ html: 'Wijzigingen opgeslagen', classes: 'green' });
                    M.Modal.getInstance($('#ssetting')).close();
                } else {
                    M.toast({ html: 'Opslaan mislukt', classes: 'red' });
                }
            });
        },
        GetSubs: function () {
            $.getJSON('/User/getSubscribers/' + $($('#ssetting').data('sender')).data('id'), function (r) {
                console.log(r);
            });
        }
    }

    $(document).ready(function () {
        $('.modal').modal();
        User.init();
    });

</script>

