@model Overstag.Models.NoDB.UnpayedEvents
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore;
@{
    Layout = "~/Views/_UserLayout.cshtml";
    ViewBag.Title = "Betalingen";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
    var currentuser = new Overstag.Models.OverstagContext().Accounts.Include(f => f.Family).First(g => g.Token == Context.Session.GetString("Token"));
}

    <div>
        @if (currentuser.Family != null)
        {
            <h4 class="red-text center-align" style="font-weight: bold;">De facturering wordt beheert door uw ouder.</h4>
        }
        else
        {
            <h3>Niet-gefactureerde activiteiten</h3>
            <div id="unpayedevents">
                @if (Model.UnfacturedEvents.Count() > 0)
                {
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Wat</th>
                                <th>Wanneer</th>
                                <th>Omschrijving</th>
                                <th>Aantal drankjes</th>
                                <th>Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{double topay = 0; }
                            @foreach (var e in Model.UnfacturedEvents)
                            {
                                var p = Model.Subscriptions.First(f => f.EventID == e.Id);
                                double c = (double)e.Cost;
                                topay += c;
                                topay += p.ConsumptionTax;
                                <tr>
                                    <td>@e.Title</td>
                                    <td>@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                                    <td>@e.Description</td>
                                    <td>@p.ConsumptionCount <b>(&euro;@(p.ConsumptionTax / 100),00)</b></td>
                                    <td>&euro;@Math.Round(c / 100, 2).ToString("F") </td>
                                </tr>
                            }
                            <tr class="grey lighten-4">
                                <td colspan="5" class="center">
                                    <b>Totaal te verrekenen: &euro;@Math.Round(Convert.ToDecimal(topay) / 100, 2).ToString("F")</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>Geen ongefactureerde activiteiten!</h5>
                }
            </div>
            <h3>Facturen</h3>
            <div id="factures">
                @if (Model.UnfacturedEvents.Count() > 0)
                {
                    <h6>&nbsp;Factuur genereren van ongefactureerde avonden</h6>
                    <a href="#ginvoice" class="waves-effect waves-light btn modal-trigger">Factuur genereren</a>
                    <br /><br />
                }
                @if (Model.Invoices.Count() > 0)
                {
                    <ul class="collapsible">
                        @foreach (var item in Model.Invoices)
                        {
                            <li>
                                <div class="collapsible-header">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><i class="material-icons">calendar_today</i>@item.Timestamp.ToString("d", culture)</td>
                                                <td>Totaal: &euro;@Math.Round((double)item.Amount / 100, 2).ToString("F")</td>
                                                <td>Betaald: @Html.Raw((item.Payed) ? "<b class='green-text'>Ja</b>" : "<b class='red-text'>Nee</b>")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="collapsible-body">
                                    @if (!item.Payed)
                                    {
                                        <a class="waves-effect waves-light btn blue" onclick="Payment.getPay('@Uri.EscapeDataString(item.PayID)')">Betalen</a>
                                        <br />
                                    }
                                    else
                                    {
                                        <a class="waves-effect waves-light btn green" target="_blank" href="/Pay/Direct/@Uri.EscapeDataString(item.PayID)">Factuur openen</a>
                                    }

                                    <table class="responsive-table">
                                        <thead>
                                            <tr>
                                                <th>Wat</th>
                                                <th>Wanneer</th>
                                                <th>Omschrijving</th>
                                                <th>Kosten</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var e in item.Events)
                                            {
                                                <tr>
                                                    <td>@e.Title</td>
                                                    <td>@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                                                    <td>@e.Description</td>
                                                    <td>&euro;@Math.Round((double)e.Cost / 100, 2).ToString("F")</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td colspan="4" class="center-align white-text grey darken-1">
                                                    Totaal: &euro;@Math.Round((double)item.Amount / 100, 2).ToString("F")<br />
                                                    @Html.Raw((item.Additions > 0) ? $"<br />Let op: Dit is <b>inclusief</b> de drankjes. ({item.Additions})" : "")
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h5>Geen facturen gevonden</h5><br />
                }
            </div>
        }
    </div>

<!-- Modals -->
<div id="pay" class="modal">
    <div class="modal-content">
        <h4>Betalen</h4>
        <h6>Je kunt er voor kiezen om zelf te betalen of om deze betaallink naar iemand anders te sturen</h6>
        <input id="payid" type="text" placeholder="payid" data-pid="" />
        <a class="btn btn-small" onclick="Payment.gotoPay()">Nu zelf betalen</a>
        <a class="btn btn-small" onclick="Payment.copyPay()">Link kopiëren</a>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
</div>

<div id="ginvoice" class="modal">
    <div class="modal-content">
        <h4>Factuur maken</h4>
        <p>
            Wanneer je een factuur maakt, worden alle tot nu toe niet betaalde of gefactureerde avonden
            (die staan hier boven) gefactureerd. Vervolgens kun je er zelf voor kiezen of je de factuur zelf, nu
            of later, of door een ander laat betalen door middel van een betaallink.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-light btn modal-close orange">Laat maar</a>
        <a href="#!" onclick="Payment.generateInvoice()" class="waves-effect waves-light btn modal-close green">Oké!</a>
    </div>
</div>

<!--Script -->
<script>
    var Payment = {
        init: function () {
            $('#_apay, #_mapay').addClass('active');
        },
        generateInvoice: function () {
            $.getJSON('/User/GenerateInvoice', function (data) {
                if (data.status == 'success') {
                    M.toast({ html: 'Factuur gemaakt', classes: 'green' })
                    window.location.reload();
                } else {
                    M.toast({ html: data.error, classes: 'red' })
                }
            });
        },
        getPay: function (payid) {
            $('#payid').data('pid', payid);
            $('#payid').val(window.location.origin+'/Pay/Direct/' + payid);
            M.Modal.getInstance($('#pay')).open();
        },
        gotoPay: function () {
            window.location.href = '/Pay/Direct/' + $('#payid').data('pid');
        },
        copyPay: function () {
            $('#payid').select();
            document.execCommand("copy");
            M.toast({ html: 'Link gekopieërd!', classes: 'blue' });
        }
    }

    Payment.init();

    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('.modal').modal();
    });
</script>
