@model Overstag.Models.Account
@{
    Layout = "/Views/_UserLayout.cshtml";
    ViewBag.Title = "Instellingen";
    string[] type = { "Lid", "Ouder", "Bestuurder", "Administrator" };
}
<div>
    <h3 class="center-align">Accountinstellingen</h3><br />
    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">info</i>Persoonlijke informatie</div>
                <div class="collapsible-body col s12 m6 center-align">
                    <h5>Persoonlijke informatie</h5>
                    <table class="center-align responsive-table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-field">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input type="text" class="checkj" id="firstname" placeholder="Voornaam" value="@Model.Firstname" />
                                        <label for="firstname">Voornaam</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input type="text" class="checkj" id="lastname" placeholder="Achternaam" value="@Model.Lastname" />
                                        <label for="lastname">Achternaam</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <i class="material-icons prefix">email</i>
                                        <input type="text" class="checkj" id="email" placeholder="Emailadres" value="@Model.Email" />
                                        <label for="email">Emailadres</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-field">
                                        <i class="material-icons prefix">home</i>
                                        <input type="text" class="checkj" id="adress" placeholder="Adres + Huisnummer" value="@Model.Adress" />
                                        <label for="adress">Adres + Huisnummer</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input type="text" class="checkj" id="postalcode" placeholder="Postcode" value="@Model.Postalcode" />
                                        <label for="postalcode">Postcode</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input type="text" class="checkj" id="residence" placeholder="Woonplaats" value="@Model.Residence" />
                                        <label for="residence">Woonplaats</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <h6>Aanvullende informatie: </h6>
                                    <p>Geslacht: @Html.Raw(Model.Sex == 0 ? "<b class='blue-text'>Man</b>" : "<b class='pink-text'>Vrouw</b>")</p>
                                    <p>Type: <b>@type[Model.Type]</b></p>
                                    <p>Geboortedatum: <b>@Model.Birthdate.ToString("dd-MM-yyyy")</b></p>
                                    <p>Leeftijd: <b>@Overstag.Core.General.getAge(Model.Birthdate)</b></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <a class="waves-effect waves-light btn orange center" onclick="M.Collapsible.getInstance($('.collapsible')).close(0);">Sluiten</a>
                    <a class="waves-effect waves-light btn green center" id="savechanges">Wijzigingen opslaan</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">lock</i>Wachtwoord wijzigen</div>
                <div class="collapsible-body col s12 m6 center-align">
                    <h5>Wachtwoord wijzigen</h5>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" class="checki" id="tbpw1" placeholder="Huidig wachtwoord" />
                        <label class="active" for="tbpw1">Huidig wachtword</label>
                    </div>
                    <br />
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" class="checki" id="tbpw2" placeholder="Nieuw wachtwoord" />
                        <label class="active" for="tbpw2">Nieuw wachtwoord</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" class="checki" id="tbpw3" placeholder="Nieuw wachtwoord herhalen" />
                        <label class="active" for="tbpw3">Wachtwoord herhalen</label>
                    </div>
                    <span id="pwhelper" style="color: red; visibility: hidden;">Wachtwoorden komen niet overeen</span>
                    <br /><br />
                    <a class="waves-effect waves-light btn orange center" onclick="M.Collapsible.getInstance($('.collapsible')).close(1); $('.checki').val('');">Annuleren</a>
                    <a class="waves-effect waves-light btn green center" id="savepass">Opslaan</a>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">security</i>Two-Factor Authenticatie (2FA)</div>
                <div class="collapsible-body">
                    <h5>Schakel 2FA in of uit</h5>
                    <p>Met 2FA (Tweetrapsauthenticatie) kun je met behulp van een ander apparaat in 2 stappen inloggen. Dit is veiliger omdat zowel je wachtwoord als de 2fa code nodig is om in te loggen.</p>
                    <div class="switch">
                        <label>
                            Uit
                            <input type="checkbox" id="cb2fa" onchange="User.toggle2fa()">
                            <span class="lever"></span>
                            Aan
                        </label>
                    </div>
                    <br />
                    <a class="btn waves-effect btn-small blue-dark" id="btngetqr" onclick="User.getQR()">Code ophalen</a>
                    <div class="row" id="qr">
                        <div class="col s12 card-panel">
                            <div class="row">
                                <div class="col s12 m6">
                                    <h6><b>Stap 1: </b> Scan deze code met uw 2FA app (zoals <a target="_blank" href="https://play.google.com/store/apps/details?id=com.authy.authy&gl=NL">Authy</a> of bijv <a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&gl=NL">Google Authenticator</a>)</h6>
                                    <img class="materialboxed" src="" id="qrimg" width="300" height="300" />
                                    <h5 id="qrcode"></h5>
                                </div>
                                <div class="col s12 m6">
                                    <h6><b>Stap 2: </b> Bewaar jouw herstelcodes voor het geval je je secret kwijt bent</h6>
                                    <div class="row" id="tfacodes">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Account</div>
                <div class="collapsible-body col s12 m6 center-align">
                    <h5>Account</h5>
                    <h6>Account sluiten</h6>
                    <p>Wanneer u uw account wilt verwijderen, klik dan op &quot;Account verwijderen&quot;.</p>
                    <a class="waves-effect waves-light btn red center modal-trigger" data-target="delaccount">Account verwijderen</a>

                    @if (Model.Family != null)
                    {
                        <h5>Gezin</h5>
                        <p>Uw account is gekoppeld aan een gezin. Wanneer u het gezin wilt verlaten, klik dan op &quot;Gezin verlaten&quot;.</p>
                        <a class="waves-effect waves-light btn orange center" onclick="User.leaveFamily();">Gezin verlaten</a>
                    }
                    <a class="waves-effect waves-light btn green center" onclick="M.Collapsible.getInstance($('.collapsible')).close(3);">Annuleren</a>

                </div>
            </li>
        </ul>

        <!--Modal-->
        <div id="delaccount" class="modal">
            <div class="modal-content">
                <h4>Weet je zeker dat je je account wilt verwijderen? <b>Deze actie kan niet ongedaan worden gemaakt!!</b></h4>
                <p>Wanneer u besluit uw account te sluiten, is het volgende van toepassing: </p>
                <p>
                    - 1. Al uw persoonlijke gegevens worden uit onze database verwijderd<br />
                    - 2. U kunt op deze website <b>NIET meer inloggen</b><br />
                    - 3. U kunt uzelf <b>NIET meer inschrijven</b> voor een avond<br />
                    - Uiteraard kunt u opnieuw uzelf registreren als u er spijt van krijgt
                </p><br />
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn green white-text">Nee natuurlijk niet</a>
                <a class="modal-close waves-effect btn orange white-text">Ik wou alleen ff kijken</a>
                <a onclick="User.delaccount()" class="modal-close waves-effect btn red white-text">Ja, toch verwijderen</a>
            </div>
        </div>

    </div>
    <script>
            var User = {
                init: function () {
                    $('#_asetting, #_masetting').addClass('active');
                    $('#cb2fa').attr('checked', ('@(!string.IsNullOrEmpty(Model.TwoFactor))' == 'True'));

                    if ($('#cb2fa').prop('checked'))
                        $('#btngetqr').show();
                    else
                        $('#btngetqr').hide();

                    $('#qr').hide();
                    User.mapEvents();
                },
                mapEvents: function () {
                    $('#savechanges').click(function () {
                        var validate = true;
                        $('.checkj').each(function () {
                            if ($(this).val() == '') {
                                validate = false;
                                return;
                            }
                        });
                        if (validate) {
                            User.savechanges();
                        } else {
                           M.toast({html: 'Vul a.u.b. alle velden in', classes: 'orange'})
                        }
                    });
                    $('#savepass').click(function () {
                        var validate = true;
                        validate = ($('#tbpw2').val() == $('#tbpw3').val());
                        $('.checki').each(function () {
                            if ($(this).val() == '') {
                                validate = false;
                                return;
                            }
                        });
                        if (validate) {
                            User.savepass();
                        } else {
                           M.toast({html: 'Vul a.u.b. alle velden correct in', classes: 'orange'})
                        }
                    });

                    //Detect & check if passwords matches
                    $('#tbpw2').on('keyup',function () {
                        if ($('#tbpw2').val() != $('#tbpw3').val()) {
                            $('#pwhelper').css('visibility', 'visible');
                        } else { $('#pwhelper').css('visibility', 'hidden'); }
                    });

                    $('#tbpw3').on('keyup',function () {
                        if ($('#tbpw3').val() != $('#tbpw2').val()) {
                            $('#pwhelper').css('visibility', 'visible');
                        } else { $('#pwhelper').css('visibility', 'hidden'); }
                    });
                },
                savechanges: function () {
                     $.post("/User/postInfoChange", { Firstname: $('#firstname').val(),Lastname: $('#lastname').val(),Email: $('#email').val(),Adress: $('#adress').val(),Postalcode: $('#postalcode').val(),Residence: $('#residence').val() }, function (response) {
                        if (response.status == 'success') {
                            M.toast({ html: 'Wijzigingen opgeslagen', classes: 'green' });
                            $('.checki').val('');
                            M.Collapsible.getInstance($('.collapsible')).close(0);
                        }
                        else {
                            //status = error
                            M.toast({ html: response.error, classes: 'red' });
                            $('.checki').val('');
                        }
                    }, 'json');
                },
                savepass: function () {
                    $.post("/User/postPasswordChange", { Oldpass: $('#tbpw1').val(), Newpass: $('#tbpw2').val() }, function (response) {
                        if (response.status == 'success') {
                            M.toast({ html: 'Wijzigingen opgeslagen', classes: 'green' });
                            $('.checki').val('');
                            M.Collapsible.getInstance($('.collapsible')).close(1);
                        }
                        else {
                            //status = error
                            M.toast({ html: response.error, classes: 'red' });
                            $('.checki').val('');
                        }
                    }, 'json');

                },
                delaccount: function () {
                    var pass = prompt('Typ je wachtwoord in om door te gaan');

                    if (pass == null || pass == '')
                        return;

                    if (confirm('Account verwijderen? Zeker weten?')) {
                        $.post("/User/postDeleteAccount", { Token: '@Uri.EscapeDataString(Model.Token)', Password: pass }, function (response) {
                            if (response.status == 'success') {
                                M.toast({ html: 'Account verwijderd', classes: 'green' });
                                localStorage.setItem("logout", true);
                                $(location).attr('href', '/Register/Logoff')
                            }
                            else {
                                M.toast({ html: response.error, classes: 'red' });
                            }
                        }, 'json');

                    }
                },
                toggle2fa: function () {
                    var use = $('#cb2fa').prop('checked');
                    $.getJSON('/User/Toggle2FA', function (response) {
                        if (response.status == 'success') {
                            if (response.secret == '') {
                               M.toast({ html: '2FA uitgeschakeld', classes: 'blue' });
                                $('#qr').hide();
                                $('#btngetqr').hide();
                            }
                            else {
                                User.getQR();
                            }
                        }
                        else {
                            M.toast({ html: 'Er is een fout opgetreden', classes: 'red' });
                            $('#cb2fa').attr('checked',!use);
                        }
                    });
                },
                getQR: function () {
                    $.getJSON('/User/Get2FA', function (response) {
                        if (response.status == 'success') {
                            $('#qrimg').attr('src', '/Photo/GetQR/'+encodeURIComponent(response.secret)+'/@Model.Username');
                            $('#qrcode').text(response.secret);
                            $('#qr').show();
                            $('#btngetqr').hide();
                        }
                        else {
                            M.toast({ html: response.error, classes: 'red' });
                        }
                    });

                    $.getJSON('/User/Get2FACodes', function (r) {
                        if (r.status == 'success') {
                            var html = '';
                            $.each(r.data, function(i, e) {
                                html += `<h5 class="col s6">${e}</h5>`;
                            });
                            $('#tfacodes').html(html);
                        }
                    });
                },
                leaveFamily: function () {
                    if (confirm("Weet u zeker dat u het gezin wilt verlaten? Deze actie kan niet ongedaan worden gemaakt.")) {
                        $.get('/User/LeaveFamily', function (r) {
                            if (r.status == 'success') {
                                M.toast({ html: 'Gezin successvol verlaten', classes: 'green' });
                                setTimeout(window.location.reload.bind(window.location), 750);
                            } else {
                                M.toast({ html: 'Er is iets fout gegaan', classes: 'red' });
                            }
                        }, 'json');
                    }
                }

            }

            User.init();

    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
    </script>
</div>

