@model List<Overstag.Models.NoDB.ISubscription>
@{
    Layout = null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<br />
<table class="responsive-table">
    <thead>
        <tr>
            <th>Wat</th>
            <th>Wanneer</th>
            <th>Omschrijving</th>
            <th>Kosten</th>
            <th>Inschrijven</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var e in Model)
            {
                bool iss = Overstag.Core.General.DateIsPassed(e.Event.When);
                double c = (double)e.Event.Cost;
                <tr>
                    <td id="t_@e.Event.Id">@e.Event.Title</td>
                    <td>@Html.Raw((iss) ? "(<b class=\"red-text\">te laat</b>) " : "")@e.Event.When.ToString("D", culture) om @e.Event.When.ToString("t", culture)</td>
                    <td>@e.Event.Description</td>
                    <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                    @if (!e.Subscribed)
                    {
                        <td><a class="btn @Html.Raw((iss)?"red":"green") waves-effect" onclick="Events.Subscribe(@e.Event.Id);">@Html.Raw((iss) ? "Alsnog " : "")Inschrijven</a></td>
                    }
                    else
                    {
                        <td><a class="btn orange waves-effect @Html.Raw((iss)?"disabled":"")" onclick="Events.DoUnsubscribe(@e.Event.Id);">Uitschrijven</a><a class="btn btn-flat transparent waves-effect btnsetting @Html.Raw((iss)?"disabled":"")" data-id="@e.Event.Id" data-fc="@e.Friends"><i class="material-icons">settings</i></a></td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5"><h5>Nog geen activiteiten</h5></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        Events.MapEvents();
    });
</script>