@model Overstag.Models.NoDB.Subscriptions
@{ 
    Layout = null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<table class="responsive-table">
    <thead>
        <tr>
            <th>Wat</th>
            <th>Wanneer</th>
            <th>Omschrijving</th>
            <th>Kosten</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count > 0)
        {
            @foreach (var e in Model.Events)
            {
                double c = (double)e.Cost;
                <tr>
                    <td>@e.Title</td>
                    <td>@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                    <td>@e.Description</td>
                    <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                    <td><a data-target="uitschrijven" onclick="eventtoremove = @e.Id;" class="modal-trigger">Uitschrijven</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5"><h5>Nog geen inschrijvingen</h5></td>
            </tr>
        }
    </tbody>
</table>