@model List<Overstag.Models.Ticket>
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/_UserLayout.cshtml";
}

&nbsp;<h2>@Html.Raw(((bool)ViewBag.All) ? "Alle " : "")Tickets</h2>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/img/logo.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator"><b>@item.Title</b><i class="material-icons right">more_vert</i></span>
                    <h5>@item.Timestamp.ToString("dd-MM-yyyy HH:mm")</h5>
                </div>
                <div class="card-reveal">
                    <span class="card-title">@item.Title<i class="material-icons right">close</i></span>
                    <p class="flow-text">@item.Message</p>
                </div>
            </div>
        </div>
    }

    <div class="col s12">
        @if (!(bool)ViewBag.All)
        {
            <h5><a href="/Tickets/1">Bekijk alle tickets</a></h5>
        }
    </div>
</div>
<br />
&nbsp;<h2>Ticket maken</h2>
<hr />
<br />

@if ((bool)ViewBag.AllowTickets)
{
    <div class="center-align">
        <p class="flow-text">
            Regels voor het maken van Tickets:
        </p>
        <ol>
            <li>Plaats alleen vragen of opmerkingen.</li>
            <li>Stuur de ticket naar de juiste doelgroep.</li>
            <li>Bij misbruik kan u de toegang tot het plaatsen van tickets worden ontzegt</li>
        </ol>
    </div>

    <div class="row">
        <div class="row">
            <div class="col s12 m6">
                <div class="input-field">
                    <input placeholder="Titel" id="tbtitle" type="text" class="validate" />
                    <label for="tbtitle">Titel</label>
                </div>
                <div class="input-field">
                    <textarea placeholder="Bericht" id="desc" class="materialize-textarea"></textarea>
                    <label for="desc">Bericht</label>
                </div>
                <a class="waves-effect waves-light btn blue center-align" onclick="Tickets.createTicket()">Opslaan</a>
            </div>
            <div class="col s12 m6">
                <p>Wie moet uw ticket te zien krijgen?</p>
                <p>
                    <label>
                        <input class="with-gap" name="rights" type="radio" checked value="0" />
                        <span>Jongeren</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rights" type="radio" value="1" />
                        <span>Ouders</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rights" type="radio" value="2" />
                        <span>Bestuursleden</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rights" type="radio" value="3" />
                        <span>Administrators</span>
                    </label>
                </p>
            </div>
        </div>
    </div>

}
else
{
    <h4 class="red-text">De toegang tot het maken van tickets is u ontzegd.</h4>
}


<script>
    var Tickets = {
        init: function () {
            $('#_tickets, #_mtickets').addClass('active');
        },
        createTicket: function () {
            if ($('#tbtitle').val() != '' && $('#desc').val() != '') {
                var data = {
                    Title: $('#tbtitle').val(),
                    Message: $('#desc').val(),
                    Type: $('input[name=rights]:checked').val()
                };

                $.post('/Tickets/createTicket', data, function (r) {
                    if (r.status == 'success') {
                        M.toast({ html: 'Wijzigingen opgeslagen', classes: 'green' });
                        setTimeout(window.location.reload.bind(window.location), 600);
                        $('#tbtitle').val('');
                        $('#desc').val('');
                    } else {
                        M.toast({ html: 'Opslaan mislukt', classes: 'red' });
                    }
                }, 'json');
            }
            else {
                M.toast({ html: 'Vul a.u.b. alle velden in', classes: 'orange' });
            }

        },
    };

    $(function () {
        Tickets.init();
    });
</script>