@model List<Overstag.Models.Event>
@{
    ViewData["Title"] = "Activiteiten";
    Layout = "/Views/_AdminLayout.cshtml";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}

<br />
<h3 id="events" class="white-text">Activiteiten toevoegen/bewerken</h3>
<form class="">
    <div class="input-group">
        <div class="input-group-append">
            &nbsp;<input type="text" class="checki form-control" id="ttitle" placeholder="Titel" />
            &nbsp;<input type="text" class="checki form-control" id="description" placeholder="Omschrijving" />
            &nbsp;<input type="text" class="checki form-control datepicker" id="date" placeholder="Datum (dd-mm-jjjj)">
            &nbsp;<input type="text" class="checki form-control timepicker" id="time" placeholder="Tijd (uu:mm)">
            &nbsp;<input type="text" class="checki form-control" id="cost" placeholder="Kosten in eurocent (€)" />
            &nbsp;
        </div>
        <div class="input-group-append">
            <input class="btn btn-primary" type="button" value="Toevoegen" id="btnadd">
            <input class="btn btn-secondary" type="button" value="Annuleren" id="btncancel" style="display: none;">
            <input class="btn btn-primary" type="button" value="Opslaan" id="btnsave" style="display: none;">
        </div>
    </div>
</form>
<br />

<div id="eventsdiv" class="center-align">
    <h3 class="white-text">Activiteiten</h3>
    <br />
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Omschrijving</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Kosten</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var e in Model)
            {
                @if (!Overstag.Core.General.DateIsPassed(e.When))
                {
                    double c = (double)e.Cost;
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Title</td>
                        <td>@e.Description</td>
                        <td>@e.When.ToString("d", culture)</td>
                        <td>@e.When.ToString("t", culture)</td>
                        <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                        <td>
                            <a class="text-warning" data-target="#verwijdermodal" data-toggle="modal" onclick="eventtoedit = @e.Id">Delete</a>
                            <br /><a class="text-primary" href="#events" onclick="Events.edit(@e.Id)">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    <h3 class="white-text">Ingeschreven deelnemers</h3>
    <br />
    <div id="participators" class="white-text">
        <!--Render deelnemers hier-->
    </div>

    <div class="modal fade" id="verwijdermodal" tabindex="-1" role="dialog" aria-labelledby="DeleteEvent"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Event verwijderen?</h5>
                    <button type="button" class="close btn btn-warning" data-dismiss="modal" aria-label="Annuleren">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Weet u zeker dat u deze activiteit wilt verwijderen?</h4>
                    <p>Dit kan niet ongedaan worden gemaakt!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Annuleren</button>
                    <button class="btn btn-danger" onclick="Events.delete(eventtoedit)">Verwijderen</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    let eventtoedit = 0;

    Events = {
        init: function () {
            $('#_events').addClass('active');
            $('#progbar').hide();
            Events.mapEvents();
            $('#participators').load('/Admin/Participators');
        },
        mapEvents: function () {
            $('#btnadd').click(function () {
                Events.post();
            });
            $('#btncancel').click(function () {
                $('#ttitle').val('');
                $('#description').val('');
                $('#date').val('');
                $('#time').val('');
                $('#cost').val('');
                $('#btncancel').hide();
                $('#btnsave').hide();
                $('#btnadd').show();
            });
            $('#btnsave').click(function () {
                var data = {
                    Title: $('#ttitle').val(),
                    Description: $('#description').val(),
                    When: $('#date').val() + ' ' + $('#time').val(),
                    Cost: $('#cost').val(), Id: eventtoedit
                };
                $.post('/Admin/UpdateEvent', data, function (r) {
                    if (r.status == 'success') {
                        $.bootstrapGrowl('Wijzigingen opgeslagen!', { type: 'success' });
                        location.reload();
                    }
                    else {
                        $.bootstrapGrowl(r.error, { type: 'danger' });
                    }

                }, 'json');

            });
        },
        edit: function (id) {
            eventtoedit = id;
            moment.locale('nl');
            $.getJSON('/Admin/getEvent/' + id, function (r) {
                if (r.status == 'success') {
                    var data = r.data;
                    var date = new Date(Date.parse(data.when));
                    date = moment(date);
                    console.log(date);
                    $('#ttitle').val(data.title);
                    $('#description').val(data.description);
                    $('#date').val(date.format('DD-MM-YYYY'));
                    $('#time').val(date.format('HH:mm'));
                    $('#cost').val(data.cost);
                    $('#btncancel').show();
                    $('#btnsave').show();
                    $('#btnadd').hide();
                }
                else
                    $.bootstrapGrowl(r.error, { type: 'danger' })

            });
        },
        post: function () {
            var data = {
                Title: $('#ttitle').val(),
                Description: $('#description').val(),
                When: $('#date').val() + ' ' + $('#time').val(),
                Cost: $('#cost').val()
            };
            $('#progbar').show();
            $.post("/Admin/postEvent", data, function (response) {
                if (response.status == 'success') {
                    location.reload();
                    $('.checki').val('');
                }
                else {
                    //status = error
                    $.bootstrapGrowl(response.error, { type: 'danger' })
                }
            }, 'json'
            ).done(function () {
                $('#progbar').hide();
            });
        },
        delete: function (id) {
            //Post delete
            $.post("/Admin/deleteEvent/" + id, function (response) {
                if (response.status == 'success') {
                    location.reload();
                }
                else {
                    //status = error
                    $.bootstrapGrowl(response.error, { type: 'danger' })
                }
            }, 'json').done(function () {
            });
        }
    }

    Events.init();
</script>