@model List<Overstag.Models.Event>
@{
    ViewData["Title"] = "Activiteiten";
    Layout = "/Views/_AdminLayout.cshtml";
}

<br />
<div id="eventsdiv" class="center-align">
    <h3 class="white-text">Activiteiten</h3>
    <table class="white-text">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Omschrijving</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Kosten</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var e in Model)
                {
                    double c = (double)e.Cost;
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Title</td>
                        <td>@e.Description</td>
                        <td>@Convert.ToDateTime(e.Date).ToShortDateString()</td>
                        <td>@Convert.ToDateTime(e.Time).ToShortTimeString()</td>
                        <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                        <td><a href="#verwijdermodal" class="modal-trigger" onclick="eventtodelete = @e.Id">delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h3 class="white-text">Activiteiten toevoegen</h3>
    <form class="center-align">
        <div class="row">
            <div class="col m8">
                <input type="text" class="checki white-text" id="ttitle" placeholder="Titel" />
                <input type="text" class="checki white-text" id="description" placeholder="Omschrijving" />
                <input type="text" class="checki white-text datepicker" id="date" placeholder="Datum">
                <input type="text" class="checki white-text timepicker" id="time" placeholder="Tijd">
                <input type="text" class="checki white-text" id="cost" placeholder="Kosten in eurocent" />
                <div class="progress" id="progbar"><div class="indeterminate"></div></div>
                <a class="waves-effect waves-light btn white-text" id="btnadd">Toevoegen</a>
            </div>
        </div>
    </form>


    <!-- Modal Structure -->
    <div id="verwijdermodal" class="modal grey darken-4 white-text">
        <div class="modal-content">
            <h4>Weet u zeker dat u dit event wilt verwijderen?</h4>
            <p>Deze actie kan niet ongedaan worden gemaakt!</p>
        </div>
        <div class="modal-footer grey darken-4 white-text">
            <a class="modal-close waves-effect waves-red btn-flat white-text">Annuleren</a>
            <a class="modal-close waves-effect waves-green btn-flat white-text" onclick="Events.delete(eventtodelete)">Verwijderen</a>
        </div>
    </div>
    <br />
    <h3 class="white-text">Ingeschreven deelnemers</h3>
    <div id="participators" class="white-text">
        <!--Render deelnemers hier-->
    </div>

</div>
<script>
    let eventtodelete = 0;
    Events = {
        init: function () {
            $('#_events').addClass('active');
            $('#progbar').hide();
            Events.mapEvents();
            $('#participators').load('/Admin/Participators');
        },
        mapEvents: function () {
             $('#btnadd').click(function () {
                 Events.post();
            });
        },
        post: function () {
            var data = {
                Title : $('#ttitle').val(),
                Description : $('#description').val(),
                Date : $('#date').val(),
                Time : $('#time').val(),
                Cost : $('#cost').val()
            };
            $('#progbar').show();
            $.post("/Admin/postEvent",data , function (response) {
                if (response.status == 'success') {
                    location.reload();
                    $('.checki').val('');
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                }
                }, 'json'
            ).done(function(){
                $('#progbar').hide();
            });
        },
        delete: function (id) {
            //Post delete
            $.post("/Admin/deleteEvent/" + id, function (response) {
                if (response.status == 'success') {
                    location.reload();
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                }
            }, 'json').done(function () {
            });
        }
    }

    Events.init();
    //Comment: Misschien datetime library uit calvijn.ga gebruiken?
</script>