@model List<Overstag.Models.Idea>
@{
    ViewBag.Title = "Ideeen";
    Layout = "~/Views/_AdminLayout.cshtml";
}

    <div>
        <br />
        <h2>Ideeën voor avonden</h2>
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Omschrijving</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var idea in Model)
                {
                    <tr>
                        <td>
                            <b>@idea.Title</b>
                            <div class="right">
                                <span class="badge badge-pill badge-success">@idea.Votes.Count(i => i.Upvote == 1) likes</span>
                                <span class="badge badge-pill badge-danger">@idea.Votes.Count(i => i.Upvote == 0) dislikes</span>
                            </div>
                        </td>
                        <td>@idea.Description</td>
                        <td>
                            <button type="button" class="btn btn-danger" id="btndelete" data-id="@idea.Id">Verwijderen</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script>
    var Ideas = {
        init: function () {
            $('#_ideas').addClass('active');

            $('#btndelete').click(function () {
                if (confirm("Weet u zeker dat u dit idee wilt verwijderen? Dit kan niet ongedaan worden gemaakt!!!")) {
                    $.get('/Admin/Ideas/Delete/' + $(this).data('id'), function (r) {
                        if (r.status == "success")
                            window.location.reload();
                        else
                            $.bootstrapGrowl('Interne serverfout.', { type: 'danger' });
                    },'json');
                }
            });
        }
    }

    $(function () {
        Ideas.init();
    });
</script>