@model List<Overstag.Models.NoDB.AParticipator>
@{
    Layout = null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
}
<div>
    <ul class="collapsible grey darken-4 white-text">
        @foreach (var e in Model.ToArray().Reverse())
        {
            <li>
                <div class="collapsible-header grey darken-4 white-text">
                    <i class="material-icons">calendar_today</i>
                    <b>@e.Event.Title</b> &nbsp;&nbsp;&nbsp; @e.Event.When.ToString("d", culture)@Html.Raw(" om ")@e.Event.When.ToString("t", culture)
                    
                </div>
                <div class="collapsible-body grey darken-4 white-text">
                    <p>Omschrijving: <b>@e.Event.Description</b> &nbsp;-&nbsp; Kosten: <b>&euro;@Math.Round((double)e.Event.Cost / 100, 2).ToString("F")</b></p>
                    <table>
                        <thead>
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                                <th>Gefactureerd</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < e.Accounts.Length; i++)
                            {
                                <tr>
                                    <td>@e.Accounts[i].Firstname</td>
                                    <td>@e.Accounts[i].Lastname</td>
                                    <td>@Html.Raw((e.Factured[i]) ? "<span class='green-text'>Ja</span>" : "<span class='red-text'>Nee</span>")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>