@model List<Mollie.Api.Models.Payment.Response.PaymentResponse>
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Betalingen (Mollie)";
}
<br />
    <h3><a class="badge badge-primary" href="/Admin/Paying">Terug</a></h3>
<br />

<table class="table text-white">
    <thead>
        <tr>
            <th>Id</th>
            <th>? Gemaakt op</th>
            <th>Status</th>
            <th>? Betaald op</th>
            <th>? Geannuleerd op</th>
            <th>? Verloopt op</th>
            <th>? Verlopen op</th>
            <th>? Mislukt op</th>
            <th>? Geauthoriseerd op</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pr in Model)
        {
            <tr>
                <td>@pr.Id</td>
                <td>@pr.CreatedAt</td>
                <td class="status">@pr.Status.ToString()</td>
                <td>@pr.PaidAt</td>
                <td>@pr.CanceledAt</td>
                <td>@pr.ExpiresAt</td>
                <td>@pr.ExpiredAt</td>
                <td>@pr.FailedAt</td>
                <td>@pr.AuthorizedAt</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#_paying').addClass('active');

        $.each($('.status'), function (i, e) {
            switch ($(e).text()) {
                case 'Paid':
                    $(e).addClass('text-success');
                    break;
                case 'Open':
                    $(e).addClass('text-primary');
                    break;
                case 'Failed':
                    $(e).addClass('text-danger');
                    break;
                case 'Expired':
                    $(e).addClass('text-warning');
                    break;
                case 'Pending':
                    $(e).addClass('text-secondary');
                    break;
            }
                
        });
    });
</script>