@model List<Overstag.Models.Ticket>
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Tickets";
    string[] type = { "Lid", "Ouder", "Bestuurder", "Administrator" };
}
<br />
<h3>Ticketoverzicht</h3>
<br />
<table class="table text-white">
    <thead>
        <tr>
            <th>Id</th>
            <th>Geplaatst op</th>
            <th>Titel</th>
            <th>Omschrijving</th>
            <th>Doelgroep</th>
            <th>Blokkeren</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
        <tr>
            <td>@t.Id</td>
            <td>@t.Timestamp.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td><b>@t.Title</b></td>
            <td>@t.Message</td>
            <td><b>@type[t.Type]</b></td>
            <td><button onclick="blockSender('@t.UserID')" class="btn btn-warning">(de)blokkeer afzender</button></td>
            <td><button onclick="deleteTicket('@t.Id')" class="btn btn-danger">Verwijderen</button></td>
        </tr>
        }
    </tbody>
</table>


<script>
    $(function () {
        $('#_tickets').addClass('active');
    });

    function deleteTicket(id) {
        if (confirm("Weet je zeker dat je dit ticket wilt verwijderen?")) {
            $.post('/Admin/deleteTicket/' + id, function (r) {
                if (r.status == 'success') {
                    window.location.reload();
                } else {
                    $.bootstrapGrowl('Verwijderen mislukt', { type: 'danger' });
                }
            }, 'json');
        }
    }

    function blockSender(id) {
        if (confirm("Zeker weten?")) {
            var block = 0;
            if (confirm("Klik op OK of YES om deze persoon te blokkeren, klik op NO of CANCEL om te deblokkeren")) {
                block = 1;
            }
            $.post('/Admin/blockTicketSender/' + id + '/' + block, function (r) {
                if (r.status == 'success') {
                    if (block == 0)
                        $.bootstrapGrowl('Persoon gedeblokkeerd', { type: 'success' });
                    else
                        $.bootstrapGrowl('Persoon geblokkeerd', { type: 'success' });
                } else {
                    $.bootstrapGrowl('Updaten mislukt', { type: 'danger' });
                }
            }, 'json');
        }
    }
</script>
