@model List<Overstag.Models.Account>
@{
    Layout = "/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Gebruikers";
}
<br />
<div class="center-align white-text">
    <h3>Gebruikersoverzicht</h3>
    <br />
    <table class="table text-white">
        <thead>
            <tr>
                <td>Id</td>
                <td>Gebruikersnaam</td>
                <td>Emailadres</td>
                <td>Voornaam</td>
                <td>Achternaam</td>
                <td>Adres</td>
                <td>Token</td>
                <td>Acties</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td><a href="mailto:@user.Email">@user.Email</a></td>
                    <td><b>@user.Firstname</b></td>
                    <td><b>@user.Lastname</b></td>
                    <td>@user.Adress ,&nbsp; @user.Postalcode &nbsp; @user.Residence</td>
                    <td><i>@user.Token</i></td>
                    <td><a href="/Register/Passreset/@Uri.EscapeDataString(user.Token)">Reset</a> | <a href="/Admin/Loginas/@Uri.EscapeDataString(user.Token)">Login</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#_users').addClass('active');

    var Admin = {
        init: function () {

        },
    }
</script>