@model List<Overstag.Models.Account>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Gebruikers";
    string[] types = { "Lid", "Ouder", "Bestuurder", "Administrator" };
}
<br />
<div class="center-align white-text">
    <h3>Gebruikersoverzicht</h3>
    <br />
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gebruikersnaam</th>
                <th>Emailadres</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Adres</th>
                <th>Token</th>
                <th>Type</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td><a href="mailto:@user.Email">@user.Email</a></td>
                    <td><b>@user.Firstname</b></td>
                    <td><b>@user.Lastname</b></td>
                    <td>@user.Adress ,&nbsp; @user.Postalcode &nbsp; @user.Residence</td>
                    <td><i>@user.Token</i></td>
                    <td>
                        @types[user.Type]<br />
                        <a href="javascript:" onclick="Admin.grade(0,'@user.Id')">- down</a>|<a href="javascript:" onclick="Admin.grade(1,'@user.Id')">+ up</a>
                    </td>
                    <td><a href="/Register/Passreset/@Uri.EscapeDataString(user.Token)">Reset</a><br /><a href="/Admin/Loginas/@Uri.EscapeDataString(user.Token)">Login</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#_users').addClass('active');

    var Admin = {
        init: function () {

        },
        grade: function (up, id) {
            $.get('/Admin/upgrade/' + up + '/' + id, function (r) {
                if (r.status == 'success')
                    window.location.reload();
            }, 'json');
        }
    }
</script>